<div class="doc-side-list">
    <ul>
        <li><a href="#breadcrumb">Breadcrumb</a></li>
    </ul>
</div>
<div id="breadcrumb" class="doc-compontent-box">
    <div class="block__header leader--large trailer--large">
        <h2 class="title--medium">Breadcrumb components</h2>
    </div>
    <!-- checkbox-component-start-->
    <div class="sg-component">
        <div class="sg-component__header">
            <h2 class="title--medium-small trailer--small">Breadcrumb</h2>
        </div>
        <div class="sg-component__status">
            <p class="mobile-one-half mobile-pull-right mobile-text-right">
                    <span class="status-dot status-dot--green pull-right">Approved <a href="">(0.7.0)</a>
                    </span>
            </p>
        </div>
        <div class="sg-component__markup">
            <div class="section--negative box--blue" style="background:#01365e">
                <div class="sg-component__label">Breadcrumb</div>
                <div class="section--footer__breadcrumb">
                    <ul>
                        <li>
                            <a href="/">Hjem</a>
                        </li>
                        <li>
                            <a href="/erhverv/">Erhverv</a>
                        </li>
                        <li>
                            <a href="/erhverv/shop/">Shop</a>
                        </li>
                        <li>
                            <a href="/erhverv/shop/mobiler/">Mobiler til erhverv</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- document code-->
        <div>
            源码区域.......
        </div>
    </div>
    <!-- checkbox-component-end-->
</div>
