<div class="doc-side-list">
    <ul>
        <li><a href="#userInformation">User Information</a></li>
        <li><a href="#dateOfBirth">Date of birth</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#sendMessage">Send message</a></li>
        <li><a href="#lockedFormData">Locked form data</a></li>
        <li><a href="#formBars">Form bars</a></li>
        <li><a href="#doubleColumn">Double column</a></li>
        <li><a href="#settings">Settings</a></li>
        <li><a href="#settings2">Settings2</a></li>
    </ul>
</div>
<div class="doc-compontent-box" id="userInformation">
    <h3>User Information</h3>
    <div class="doc-compontent">
        <div class="block">
            <div class="container">
                <div class="tablet-one-half block--form">
                    <div class="sg-component__label">Locked</div>
                    <div class="title--xsmall title--block">
                        <a href="/" class="icon icon-pencil pull-right"></a>
                        <h3>User information</h3>
                    </div>
                    <dl class="mobile-one-whole terms-list">
                        <dt>Username</dt>
                        <dd>john35</dd>
                    </dl>
                    <div class="container mobile-one-whole">
                        <dl class="tablet-one-half terms-list">
                            <dt>First name</dt>
                            <dd>John</dd>
                        </dl>
                        <dl class="tablet-one-half terms-list">
                            <dt>Last name</dt>
                            <dd>Johnson</dd>
                        </dl>
                    </div>
                    <dl class="terms-list">
                        <dt>Activation period</dt>
                        <dd>21.05 2014 - 23.05 2014</dd>
                    </dl>
                    <dl class="terms-list">
                        <dt>Email address</dt>
                        <dd>Fill in your email address</dd>
                    </dl>
                </div>
                <div class="tablet-one-half block--form">
                    <div class="sg-component__label">Editable</div>
                    <h3 class="title--xsmall title--block">User information</h3>
                    <div class="form-item ">
                        <label for="form-field-simple-with-label">Username</label>
                        <input id="form-field-simple-with-label" type="text" value="john35">
                    </div>
                    <div class="form-item--multi form-row">
                        <div class="form-item form-col--med">
                            <label for="firstname">First name</label>
                            <input id="firstname" type="text" value="John">
                        </div>
                        <div class="form-item">
                            <label for="lastname">Last name</label>
                            <input id="lastname" type="text" value="Johnson">
                        </div>
                    </div>
                    <dl class="terms-list">
                        <dt>Activation period</dt>
                        <dd>21.05 2014 - 23.05 2014</dd>
                    </dl>
                    <div class="form-item">
                        <label for="email">Email</label>
                        <input id="email" type="email" placeholder="Fill in your email address">
                    </div>
                    <div class="block--col">
                        <div class="float-right row">
                            <a class="button button--action trailer--small float-right" href="#">Save changes</a>
                            <a class="button float-right" href="#">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="doc-compontent-box" id="dataOfBirth">
    <h3>Date of birth</h3>
    <div class="doc-compontent">
        <div class="block">
            <div class="container">
            <div class="tablet-one-half block--form">
                <div class="sg-component__label">Locked</div>
                <div class="title--xsmall title--block title--tooltip">
                    <a href="/" class="icon icon-pencil pull-right"></a>
                    <h3>Date of birth</h3>
                </div>
                <p>January 29th, 1983</p>
            </div>
            <div class="tablet-one-half  block--form">
                <div class="sg-component__label">Editable</div>
                <h3 class="title--xsmall title--block">Date of birth</h3>
                <div class="container">
                    <div class="mobile-three-twelfths">
                        <div data-module="form.select" class="form-select">
                            <label class="form-select__label" for="select-day">Day</label>
                            <select id="select-day">
                                <option value="opt1" selected="">29</option>
                                <option value="opt2">2</option>
                                <option value="opt3">3</option>
                            </select>
                            <div class="form-select__field">Option 1</div>
                        </div>
                    </div>
                    <div class="mobile-five-twelfths">
                        <div data-module="form.select" class="form-select">
                            <label class="form-select__label" for="select-month">Month</label>
                            <select id="select-month">
                                <option value="opt1" selected="">Januar</option>
                                <option value="opt2">2</option>
                                <option value="opt3">3</option>
                            </select>
                            <div class="form-select__field">Option 1</div>
                        </div>
                    </div>
                    <div class="mobile-four-twelfths">
                        <div data-module="form.select" class="form-select">
                            <label class="form-select__label" for="select-year">Year</label>
                            <select id="select-year">
                                <option value="opt1" selected="">1983</option>
                                <option value="opt2">2</option>
                                <option value="opt3">3</option>
                            </select>
                            <div class="form-select__field">Option 1</div>
                        </div>
                    </div>
                </div>
                <div class="block--col">
                    <div class="float-right row">
                        <a class="button button--action trailer--small float-right" href="#">Save changes</a>
                        <a class="button float-right" href="#">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="doc-compontent-box" id="contact">
    <h3>Contact</h3>
    <div class="doc-compontent">
        <div class="block">
            <div class="container">
            <div class="tablet-one-half block--form">
                <div class="sg-component__label">Locled</div>
                <div class="title--xsmall title--block">
                    <a href="/" class="icon icon-pencil pull-right"></a>
                    <h3>Contact</h3>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing suspen disse faucibus eros non rutrum.</p>
                <ul class="form-item form-row border--bottom">
                    <li class="form-radio  ">
                        <input type="radio" name="radios-disabled" id="radio-1-disabled" value="" disabled>
                        <label class="text--med" for="radio-1-disabled"><span>By traditional mail</span></label>
                    </li>
                    <li class="form-radio  ">
                        <input type="radio" name="radios-disabled" id="radio-2-disabled" disabled checked >
                        <label class="text--med" for="radio-2-disabled"><span>By Email</span></label>
                    </li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing suspen disse faucibus eros non rutrum.</p>
                <div class="form-checkbox">
                    <input type="checkbox" disabled="" checked="" name="cbs-disabled-0" id="cbs-disabled-0" value="--some-value--">
                    <label class="text--med" for="cbs-disabled-0">Yes, I would like to recieve the newsletter</label>
                </div>
            </div>
            <div class="tablet-one-half block--form">
                <div class="sg-component__label">Editable</div>
                <h3 class="title--xsmall title--block">Contact</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing suspen disse faucibus eros non rutrum.</p>
                <ul class="form-item form-row border--bottom">
                    <li class="form-radio  ">
                        <input type="radio" name="radios-disabled-2" id="radio-1-disabled-2" value="">
                        <label class="text--med" for="radio-1-disabled-2"><span>By traditional mail</span></label>
                    </li>
                    <li class="form-radio  ">
                        <input type="radio" name="radios-disabled-2" id="radio-2-disabled-2" checked >
                        <label class="text--med" for="radio-2-disabled-2"><span>By Email</span></label>
                    </li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing suspen disse faucibus eros non rutrum.</p>
                <div class="form-checkbox">
                    <input type="checkbox" checked name="cbs-edit" id="cbs-edit" value="--some-value--">
                    <label class="text--med" for="cbs-edit">Yes, I would like to recieve the newsletter</label>
                </div>
                <div class="block--col">
                    <div class="float-right row">
                        <a class="button button--action trailer--small float-right" href="#">Save changes</a>
                        <a class="button float-right" href="#">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="doc-compontent-box" id="sendMessage">
    <h3>Send message</h3>
    <div class="doc-compontent">
        <div class="block">
            <div class="sg-component__label">Send message form</div>
            <h3 class="title--xsmall title--block">Send us a message</h3>
            <div class="form-item form-item--required">
                <label for="form-field-simple-with-label">Name</label>
                <input id="form-field-simple-with-label" type="text" value="John Johnson">
            </div>
            <div class="form-item form-item--required">
                <label for="area">Message</label>
                <textarea id="area" type="text">Lorem ipsum bla bla.. </textarea>
            </div>
            <div class="block--col">
                <div class="float-right row">
                    <a class="button button--action trailer--small float-right" href="#">Save changes</a>
                    <a class="button float-right" href="#">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="doc-compontent-box" id="lockedFormData">
    <h3>Locked form data</h3>
    <div class="doc-compontent">
        <div class="block">
            <h3 class="title--xsmall title--block">Company data</h3>
            <div class="block--names-address clear">
                <dl class="tablet-one-half mobile-one-whole terms-list">
                    <dt>Company name</dt>
                    <dd>Aller Media A/S</dd>
                    <dt>Tax ID / CVR ID</dt>
                    <dd>DK 29 40 95 01</dd>
                </dl>
                <dl class="tablet-one-half tablet-omega mobile-one-whole terms-list">
                    <dt>Company address (CVR address):</dt>
                    <dd>Havneholmen 33
                        <br>Copenhagen
                        <br>1561, Denmakr
                        <br>12345</dd>
                </dl>
            </div>
            <h3 class="title--xsmall title--block">Contract data</h3>
            <div class="block--names-address clear">
                <dl class="tablet-one-half mobile-one-whole terms-list">
                    <dt>Contract number</dt>
                    <dd>123456789-10</dd>
                    <dt>Payment term</dt>
                    <dd>Net 30</dd>
                </dl>
                <dl class="tablet-one-half tablet-omega mobile-one-whole terms-list">
                    <dt>Contract date</dt>
                    <dd>2014.08.20</dd>
                </dl>
            </div>
            <h3 class="title--xsmall title--block">Beneficiaries</h3>
            <div class="block--names-address clear beneficiaries-list">
                <ul>
                    <li class="tablet-one-half mobile-one-whole"><a href="#">Volkswagen Group</a>
                    </li>
                    <li class="tablet-omega tablet-one-half mobile-one-whole"><a href="#">General Electric</a>
                    </li>
                    <li class="tablet-one-half mobile-one-whole"><a href="#">Samsung</a>
                    </li>
                    <li class="tablet-omega tablet-one-half mobile-one-whole"><a href="#">Amazon</a>
                    </li>
                    <li class="tablet-one-half mobile-one-whole"><a href="#">Toyota</a>
                    </li>
                    <li class="tablet-omega tablet-one-half mobile-one-whole"><a href="#">Nestle</a>
                    </li>
                </ul>
                <ul id="beneficiaries01" class="is-collapsed">
                    <li class="tablet-one-half mobile-one-whole"><a href="#">Volkswagen Group</a>
                    </li>
                    <li class="tablet-omega tablet-one-half mobile-one-whole"><a href="#">General Electric</a>
                    </li>
                    <li class="tablet-one-half mobile-one-whole"><a href="#">Samsung</a>
                    </li>
                    <li class="tablet-omega tablet-one-half mobile-one-whole"><a href="#">Amazon</a>
                    </li>
                    <li class="tablet-one-half mobile-one-whole"><a href="#">Toyota</a>
                    </li>
                    <li class="tablet-omega tablet-one-half mobile-one-whole"><a href="#">Nestle</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="doc-compontent-box" id="formBars">
    <h3>Form bars</h3>
    <div class="doc-compontent">
        <div class="block">
            <h3 class="title--xsmall title--block">Sim options</h3>
            <ul class="form-item form-inline">
                <li class="form-radio  ">
                    <input type="radio" name="radios-inline" id="radio-inline-1" value="">
                    <label class="text--med" for="radio-inline-1"><span>Normal</span></label>
                </li>
                <li class="form-radio  ">
                    <input type="radio" name="radios-inline" id="radio-inline-2" value="" checked="">
                    <label class="text--med" for="radio-inline-2"><span>Micro</span></label>
                </li>
                <li class="form-radio  ">
                    <input type="radio" name="radios-inline" id="radio-inline-3" value="" checked="">
                    <label class="text--med" for="radio-inline-3"><span>Nano</span></label>
                </li>
            </ul>
            <h3 class="title--xsmall title--block">Sim options</h3>
            <div class="block--content--low box--greyed border">
                <ul class="form-item form-inline">
                    <li class="form-checkbox ">
                        <input type="checkbox" checked="" name="cbs-inline-0" id="cbs-inline-0" value="--some-value--">
                        <label class="text--med" for="cbs-inline-0">Lorem</label>
                    </li>
                    <li class="form-checkbox ">
                        <input type="checkbox" name="cbs-inline-1" id="cbs-inline-1" value="--some-value--">
                        <label class="text--med" for="cbs-inline-1">Ipsum</label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="doc-compontent-box" id="doubleColumn">
    <h3>Double column</h3>
    <div class="doc-compontent">
        <div class="block">
            <div class="block--form">
                <fieldset class="block--form__col mobile-one-whole tablet-one-half">
                    <h3 class="title--xsmall title--block">Navn &amp; adresse</h3>
                    <div class="form-item--multi form-row">
                        <div class="form-item form-col--med form-col--mobile-one-whole form-item--required">
                            <label for="firstname-2">Fornavn(e)</label>
                            <input id="firstname-2" type="text">
                        </div>
                        <div class="form-item form-item--required">
                            <label for="lastname-2">Efternavn(e)</label>
                            <input id="lastname-2" type="text">
                        </div>
                    </div>
                    <div class="form-item--multi form-row">
                        <div class="form-item form-item--required">
                            <label for="address">Addresse</label>
                            <input id="address" type="text">
                        </div>
                        <div class="form-item form-col--med form-col--mobile-one-whole form-item--required">
                            <label for="floor">Nummer &amp; etage</label>
                            <input id="floor" type="text">
                        </div>
                    </div>
                    <div class="form-item--multi form-row">
                        <div class="form-item form-col--med form-col--mobile-one-whole form-item--required">
                            <label for="zip">Postnummer</label>
                            <input id="zip" type="text">
                        </div>
                        <div class="form-item form-item--required">
                            <label for="city">By</label>
                            <input id="city" type="text">
                        </div>
                    </div>
                    <div class="form-item form-row">
                        <div data-module="form.select" class="form-select" >
                            <label class="form-select__label" for="select-country">Country</label>
                            <select id="select-country" >
                                <option value="opt1" selected>Denmark</option>
                                <option value="opt2">Option 2</option>
                                <option value="opt3">Option 3</option>
                            </select>
                            <div class="form-select__field">--</div>
                        </div>
                    </div>
                    <h3 class="title--xsmall title--block">Fødselsdag</h3>
                    <div class="container">
                        <div class="mobile-one-third">
                            <div data-module="form.select" class="form-select" >
                                <label class="form-select__label" for="select-year-2">Year</label>
                                <select id="select-year-2" >
                                    <option value="opt1" selected>1981</option>
                                    <option value="opt2">Option 2</option>
                                    <option value="opt3">Option 3</option>
                                </select>
                                <div class="form-select__field">--</div>
                            </div>
                        </div>
                        <div class="mobile-one-third">
                            <div data-module="form.select" class="form-select" >
                                <label class="form-select__label" for="select-month-2">Month</label>
                                <select id="select-month-2" >
                                    <option value="opt1" selected>April</option>
                                    <option value="opt2">Option 2</option>
                                    <option value="opt3">Option 3</option>
                                </select>
                                <div class="form-select__field">--</div>
                            </div>
                        </div>
                        <div class="mobile-one-third omega">
                            <div data-module="form.select" class="form-select" >
                                <label class="form-select__label" for="select-day-2">Day</label>
                                <select id="select-day-2" >
                                    <option value="opt1" selected>16</option>
                                    <option value="opt2">Option 2</option>
                                    <option value="opt3">Option 3</option>
                                </select>
                                <div class="form-select__field">--</div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="block--form__col--dark mobile-one-whole tablet-one-half tablet-pull-right">
                    <h3 class="title--xsmall title--block">Kontaktinformationer</h3>
                    <div class="form-item form-row form-item--required">
                        <label for="email">E-mailadresse</label>
                        <input id="email" type="email">
                    </div>
                    <div class="form-item form-row form-item--required">
                        <label for="phone">Telefonnummer (primær)</label>
                        <input id="phone" type="text">
                        <p class="form-item__description">You will receive login passwords to your primary number</p>
                    </div>
                    <div class="form-item form-row form-item--required">
                        <label for="phone2">Telefonnummer (sekundær)</label>
                        <input id="phone2" type="text">
                    </div>
                </fieldset>
                <fieldset class="block--form__col row">
                    <h3 class="title--xsmall title--block">Må Telenor kontakte dig?</h3>
                    <!-- : Checkboxes -->
                    <ul class="form-item form-row">
                        <li class="form-checkbox">
                            <input type="checkbox" name="optionsCheck1" id="checkbox1option1" value="option1" checked="">
                            <label class="text--med" for="checkbox1option1">Ja tak. Jeg ønsker information om nye produkter hos telenor og tilbud.</label>
                        </li>
                        <li class="form-checkbox">
                            <input type="checkbox" name="optionsCheck1" id="checkbox1option2" value="option2">
                            <label class="text--med" for="checkbox1option2">Ja tak. Jeg ønsker information, når Telenor, på baggrund af mit forbrug, kan forbedre mit abonnement.</label>
                        </li>
                    </ul>
                </fieldset>
            </div>
        </div>
    </div>
</div>
<div class="doc-compontent-box" id="settings">
    <h3>Settings</h3>
    <div class="doc-compontent">
        <div class="sg-component__markup mobile-one-whole omega  ">
            <h3 class="title--xsmall title--block">My settings</h3>
            <table class="table--default table--zebra">

                <!-- : Table settings row -->
                <tbody><tr>
                    <td class="col--expand">
                        <form id="mbb-child-protection-form" class="clear block--small" action="parts/dummy.html" method="get" data-interaction="" novalidate="novalidate">
                            <fieldset class="clear">
                                <div class="pull-left mobile-one-whole tablet-seven-twelfths">
                                    <label class="desk-pull-left">Add child protection</label>
                                </div>
                                <div class="pull-right container">
                                    <span class="text--small text--muted toright--small">(4,40 kr/mo)</span>
                                    <div class="pull-right">
                                        <div class="form-item--toggle form-item--small tablet-pull-left">
                                            <input class="toggle__radio" data-toggle-value="on" id="toggle1yes" type="radio" name="radioGroup1">
                                            <label for="toggle1yes">Yes</label>
                                            <input class="toggle__radio" data-toggle-value="off" id="toggle1no" type="radio" name="radioGroup1" checked="">
                                            <label for="toggle1no">No</label>
                                            <div class="form-item--toggle__switch">
                                                <span class="icon-drag"></span>
                                            </div>
                                            <div class="form-item--toggle__track"></div>
                                        </div>
                                        <div class="icon-questionmark tablet-pull-right toleft--small tooltip__trigger">

                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <input class="button button--action button--small js--hidden" type="submit" value="Save changes">
                        </form>
                    </td>
                </tr>

                <!-- : Table settings row -->
                <tr>
                    <td class="col--expand">
                        <form id="mbb-pay-via-mobile-form" class="clear block--small" action="parts/dummy.html" method="get" data-interaction="" novalidate="novalidate">
                            <fieldset class="clear">
                                <div class="pull-left mobile-one-whole tablet-seven-twelfths">
                                    <label class="desk-pull-left">Pay via mobile</label>
                                </div>
                                <div class="pull-right container">
                                    <span class="text--small text--muted toright--small">(6,80 kr/mo)</span>
                                    <div class="pull-right">
                                        <div class="form-item--toggle form-item--small tablet-pull-left">
                                            <input class="toggle__radio" data-toggle-value="on" id="toggle2yes" type="radio" name="radioGroup2">
                                            <label for="toggle2yes">Yes</label>
                                            <input class="toggle__radio" data-toggle-value="off" id="toggle2no" type="radio" name="radioGroup2" checked="">
                                            <label for="toggle2no">No</label>
                                            <div class="form-item--toggle__switch">
                                                <span class="icon-drag"></span>
                                            </div>
                                            <div class="form-item--toggle__track"></div>
                                        </div>
                                        <div class="icon-questionmark tablet-pull-right toleft--small tooltip__trigger">

                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <input class="button button--action button--small js--hidden" type="submit" value="Save changes">
                        </form>
                    </td>
                </tr>

                <!-- : Table settings row -->
                <tr>
                    <td class="col--expand">
                        <form id="mbb-physical-goods-form" class="clear block--small" action="parts/dummy.html" method="get" data-interaction="" novalidate="novalidate">
                            <fieldset class="clear">
                                <div class="pull-left mobile-one-whole tablet-seven-twelfths">
                                    <label class="desk-pull-left">Buy physical goods</label>
                                </div>
                                <div class="pull-right container">
                                    <div class="pull-right">
                                        <div class="form-item--toggle form-item--small tablet-pull-left">
                                            <input class="toggle__radio" data-toggle-value="on" id="toggle3yes" type="radio" name="radioGroup3">
                                            <label for="toggle3yes">Yes</label>
                                            <input class="toggle__radio" data-toggle-value="off" id="toggle3no" type="radio" name="radioGroup3" checked="">
                                            <label for="toggle3no">No</label>
                                            <div class="form-item--toggle__switch">
                                                <span class="icon-drag"></span>
                                            </div>
                                            <div class="form-item--toggle__track"></div>
                                        </div>
                                        <div class="icon-questionmark tablet-pull-right toleft--small tooltip__trigger">

                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <input class="button button--action button--small js--hidden" type="submit" value="Save changes">
                        </form>
                    </td>
                </tr>
                </tbody></table>
            <h3 class="title--xsmall title--block">Billing threshold</h3>
            <table class="table--default table--zebra">

                <!-- : Table settings row -->
                <tbody><tr>
                    <td class="col--expand">
                        <form id="mbb-bill-limit-form" class="clear block--small" action="parts/dummy.html" method="get" data-interaction="" novalidate="novalidate">
                            <fieldset class="clear">
                                <div class="pull-left mobile-one-whole tablet-seven-twelfths">
                                    <legend class="col--expander" data-toggle="collapse" data-target="#mbb-bill-limit-details">Enable bill limit vakl lasdk flask dflka sdlf asldfk</legend>
                                </div>
                                <div class="pull-right container">
                                    <div class="pull-right">
                                        <div class="form-item--toggle form-item--small tablet-pull-left">
                                            <input class="toggle__radio" data-toggle-value="on" id="toggle3yes" type="radio" name="radioGroup3">
                                            <label for="toggle3yes">Yes</label>
                                            <input class="toggle__radio" data-toggle-value="off" id="toggle3no" type="radio" name="radioGroup3" checked="">
                                            <label for="toggle3no">No</label>
                                            <div class="form-item--toggle__switch">
                                                <span class="icon-drag"></span>
                                            </div>
                                            <div class="form-item--toggle__track"></div>
                                        </div>
                                        <div class="icon-questionmark tablet-pull-right toleft--small tooltip__trigger">

                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <input class="button button--action button--small js--hidden" type="submit" value="Save changes">
                        </form>
                        <form class="clear" action="parts/dummy.html" method="get" data-interaction="" novalidate="novalidate">
                            <div id="mbb-bill-limit-details" class="is-collapsed">
                                <div class="block--small">
                                    <div class="table-wrapper">
                                        <div class="block">
                                            This is some content
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>

                <!-- : Table settings row -->
                <tr>
                    <td class="col--expand">
                        <form id="mbb-sms" class="clear block--small" action="parts/dummy.html" method="get" data-interaction="" novalidate="novalidate">
                            <fieldset class="clear">
                                <div class="pull-left mobile-one-whole tablet-seven-twelfths">
                                    <label class="desk-pull-left">Send sms</label>
                                </div>
                                <div class="pull-right container">
                                    <div class="pull-right">
                                        <div class="form-item--toggle form-item--small tablet-pull-left">
                                            <input class="toggle__radio" data-toggle-value="on" id="mbb-sms-toggle1yes" type="radio" name="mbb-sms-radioGroup1">
                                            <label for="mbb-sms-toggle1yes">Yes</label>
                                            <input class="toggle__radio" data-toggle-value="off" id="mbb-sms-toggle1no" type="radio" name="mbb-sms-radioGroup1" checked="">
                                            <label for="mbb-sms-toggle1no">No</label>
                                            <div class="form-item--toggle__switch">
                                                <span class="icon-drag"></span>
                                            </div>
                                            <div class="form-item--toggle__track"></div>
                                        </div>
                                        <div class="icon-questionmark tablet-pull-right toleft--small tooltip__trigger">

                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <input class="button button--action button--small js--hidden" type="submit" value="Save changes">
                        </form>
                    </td>
                </tr>

                <!-- : Table settings row -->
                <tr>
                    <td class="col--expand">
                        <form id="mbb-adult-content" class="clear block--small" action="parts/dummy.html" method="get" data-interaction="" novalidate="novalidate">
                            <fieldset class="clear">
                                <div class="pull-left mobile-one-whole tablet-seven-twelfths">
                                    <label class="desk-pull-left">Buy adult content</label>
                                </div>
                                <div class="pull-right container">
                                    <div class="pull-right">
                                        <div class="form-item--toggle form-item--small tablet-pull-left">
                                            <input class="toggle__radio" data-toggle-value="on" id="mbb-adult-content-toggle2yes" type="radio" name="mbb-adult-content-radioGroup2">
                                            <label for="mbb-adult-content-toggle2yes">Yes</label>
                                            <input class="toggle__radio" data-toggle-value="off" id="mbb-adult-content-toggle2no" type="radio" name="mbb-adult-content-radioGroup2" checked="">
                                            <label for="mbb-adult-content-toggle2no">No</label>
                                            <div class="form-item--toggle__switch">
                                                <span class="icon-drag"></span>
                                            </div>
                                            <div class="form-item--toggle__track"></div>
                                        </div>
                                        <div class="icon-questionmark tablet-pull-right toleft--small tooltip__trigger">

                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <input class="button button--action button--small js--hidden" type="submit" value="Save changes">
                        </form>
                    </td>
                </tr>
                </tbody></table>
            <h3 class="title--xsmall title--block">More settings</h3>
            <table class="table--default table--zebra">

                <!-- : Table settings row -->
                <tbody><tr>
                    <td class="col--expand">
                        <form id="mbb-mobile-data" class="clear block--small" action="parts/dummy.html" method="get" data-interaction="" novalidate="novalidate">
                            <fieldset class="clear">
                                <div class="pull-left mobile-one-whole tablet-seven-twelfths">
                                    <label class="desk-pull-left">Use mobile data</label>
                                </div>
                                <div class="pull-right container">
                                    <div class="pull-right">
                                        <div class="form-item--toggle form-item--small tablet-pull-left">
                                            <input class="toggle__radio" data-toggle-value="on" id="mbb-mobile-data-toggle1yes" type="radio" name="mbb-mobile-data-radioGroup1">
                                            <label for="mbb-mobile-data-toggle1yes">Yes</label>
                                            <input class="toggle__radio" data-toggle-value="off" id="mbb-mobile-data-toggle1no" type="radio" name="mbb-mobile-data-radioGroup1" checked="">
                                            <label for="mbb-mobile-data-toggle1no">No</label>
                                            <div class="form-item--toggle__switch">
                                                <span class="icon-drag"></span>
                                            </div>
                                            <div class="form-item--toggle__track"></div>
                                        </div>
                                        <div class="icon-questionmark tablet-pull-right toleft--small tooltip__trigger">

                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <input class="button button--action button--small js--hidden" type="submit" value="Save changes">
                        </form>
                    </td>
                </tr>

                <!-- : Table settings row -->
                <tr>
                    <td class="col--expand">
                        <form id="mbb-conduct-local-calls" class="clear block--small" action="parts/dummy.html" method="get" data-interaction="" novalidate="novalidate">
                            <fieldset class="clear">
                                <div class="pull-left mobile-one-whole tablet-seven-twelfths">
                                    <label class="desk-pull-left">Conduct international calls</label>
                                </div>
                                <div class="pull-right container">
                                    <div class="pull-right">
                                        <div class="form-item--toggle form-item--small tablet-pull-left">
                                            <input class="toggle__radio" data-toggle-value="on" id="mbb-conduct-local-calls-toggle2yes" type="radio" name="mbb-conduct-local-calls-radioGroup2">
                                            <label for="mbb-conduct-local-calls-toggle2yes">Yes</label>
                                            <input class="toggle__radio" data-toggle-value="off" id="mbb-conduct-local-calls-toggle2no" type="radio" name="mbb-conduct-local-calls-radioGroup2" checked="">
                                            <label for="mbb-conduct-local-calls-toggle2no">No</label>
                                            <div class="form-item--toggle__switch">
                                                <span class="icon-drag"></span>
                                            </div>
                                            <div class="form-item--toggle__track"></div>
                                        </div>
                                        <div class="icon-questionmark tablet-pull-right toleft--small tooltip__trigger">

                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <input class="button button--action button--small js--hidden" type="submit" value="Save changes">
                        </form>
                    </td>
                </tr>
                </tbody></table>
        </div>
    </div>
</div>



