<!--side list-->
<div class="doc-side-list">
    <ul>
        <li class="current" ><a  href="#hero-small">Hero small</a></li>
        <li><a  href="#hero-full-width">Hero full width</a></li>
        <li><a  href="#article-sections">Article sections</a></li>
        <li><a  href="#product-grid-item">Product grid item</a></li>
        <li><a  href="#product-grid-item-overlay">Product grid item overlay</a></li>
        <li><a  href="#product-grid-item-tall">Product grid item tall</a></li>
        <li><a  href="#filter-products">Filter products</a></li>
        <li><a  href="#list-item-in-thumbnail-view">List item in thumbnail view</a></li>
        <li><a  href="#list-item">List item</a></li>
    </ul>
</div>
<div class="section--block container">
    <!-- Page header -->
    <div class="block__header leader--large trailer--large" >
        <h2 class="title--medium">Content elements</h2>
    </div>
    <!-- SG Components -->
    <div id="sgComponentWrapper">
        <div id="hero-small" class="doc-compontent-box sg-component mix is-futuredrops  mobile-one-whole omega" style="display: inline-block;">
            <div class="sg-component__header">
                <h2 class="title--medium-small trailer--small">Hero small</h2>
            </div>
            <div class="sg-component__status mobile-one-whole omega">
                <p class="mobile-one-half mobile-pull-right mobile-text-right">
                    <span class="status-dot status-dot status-dot--blue">Future drops</span>
                </p>
            </div>

            <!-- Markup -->
            <div class="sg-component__markup mobile-one-whole omega sg-component__markup--no-padding ">
                <section class="section--product-hero section--product-hero--one-by-one section--no-header">
                    <div class="container">
                        <div class="product-list">
                            <div class="list-item list-item--hero list-item--hero--small mobile-li-one-whole tablet-li-one-whole tablet-wide-li-one-half desk-li-one-half">
                                <div class="list-item__inner-wrapper">
                                    <div class="list-item--hero__image-wrapper mobile-one-third tablet-five-twelfths desk-li-one-third">
                                        <a href="#">
                                            <img src="../assets/framework/img/iphone5c.png" alt="">
                                        </a>
                                    </div>
                                    <div class="list-item--hero__details mobile-two-thirds tablet-seven-twelfths desk-li-two-thirds omega">

                                        <!-- : Five star rating blue -->
                                        <div class="rating--stars" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
                                            <span class="rating__stars rating__stars--small rating__stars--blue" aria-hidden="true">
                                              <span class="icon-star fill--whole"></span>
                                              <span class="icon-star fill--whole"></span>
                                              <span class="icon-star fill--whole"></span>
                                              <span class="icon-star fill--half"></span>
                                              <span class="icon-star"></span>
                                            </span>
                                            <span class="aria--visible">
                                              <span class="aria--visible">Rated</span>
                                              <span itemprop="ratingValue">3.4</span>
                                              <span class="aria--visible">out of
                                                <span itemprop="bestRating">5</span>
                                              </span>from
                                              <span itemprop="reviewCount">86</span>users reviews
                                            </span>
                                        </div>
                                        <p class="product-name">
                                            <span class="list-item__name title--medium mobile-one-whole"><a title="product name" href="#">Apple iPhone 5c</a></span>
                                        </p>
                                        <div class="list-item__inner-bottom-wrapper">
                                            <div class="list-item--hero__call-to-action">
                                                <p>
                                                    <span class="text--xsmall">Monthly from</span>
                                    <span class="list-item__price" itemprop="productPrice">
                                      <span>9999,00</span>
                                      <span class="text--note">kr.</span>
                                    </span>
                                                </p>
                                                <a href="" class="button button--small button--action">Read more</a>
                                            </div>
                                            <a href="/en/shop/phones/favorites" class="bullet-link category-link">Customer favorites</a>
                                            <p class="list-item__note mobile-one-whole">
                                                <span class="mobile-one-whole">With FRI+ 5GB for 12 months. Downpayment: 99,00 kr. Min. price, 6 mo: 6.223,25 kr.</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div id="hero-full-width" class="doc-compontent-box sg-component mix is-futuredrops  mobile-one-whole omega" style="display: inline-block;">
            <div class="sg-component__header">
                <h2 class="title--medium-small trailer--small">Hero full width</h2>
            </div>
            <div class="sg-component__status mobile-one-whole omega">
                <p class="mobile-one-half mobile-pull-right mobile-text-right">
                    <span class="status-dot status-dot status-dot--blue">Future drops</span>
                </p>
            </div>

            <!-- Markup -->
            <div class="sg-component__markup mobile-one-whole omega sg-component__markup--no-padding ">
                <section class="section--product-hero section--product-hero--one-on-two section--no-header">
                    <div class="container">
                        <div class="product-list">
                            <div class="list-item list-item--hero list-item--hero--full-width">
                                <div class="list-item__inner-wrapper">
                                    <div class="list-item--hero__image-wrapper mobile-one-third tablet-five-twelfths">
                                        <a href="#">
                                            <!-- : Responsive image element -->
                                           <img alt="The worlds most hyped smart phone." src="../assets/framework/img/iphone5_white-medium.png">
                                        </a>
                                    </div>
                                    <div class="list-item--hero__details mobile-two-thirds tablet-seven-twelfths desk-six-twelfths">

                                        <!-- : Five star rating blue -->
                                        <div class="rating--stars" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
                                            <span class="rating__stars rating__stars--small rating__stars--blue" aria-hidden="true">
                                              <span class="icon-star fill--whole"></span>
                                              <span class="icon-star fill--whole"></span>
                                              <span class="icon-star fill--whole"></span>
                                              <span class="icon-star fill--half"></span>
                                              <span class="icon-star"></span>
                                            </span>
                                            <span class="aria--visible">
                                              <span class="aria--visible">Rated</span>
                                              <span itemprop="ratingValue">3.4</span>
                                              <span class="aria--visible">out of
                                                <span itemprop="bestRating">5</span>
                                              </span>from
                                              <span itemprop="reviewCount">86</span>users reviews
                                            </span>
                                        </div>
                                        <p class="product-name">
                                            <span class="list-item__name mobile-one-whole" itemprop="productName"><a title="product name" href="#">Samsung Galaxy S4</a></span>
                                        </p>
                                        <ul class="list--check--dark">
                                            <li>Lorem ipsum dolor sit ame</li>
                                            <li>Morbi dignissim auctor</li>
                                            <li>Nulla porta facilisis</li>
                                        </ul>
                                        <div class="list-item__inner-bottom-wrapper">
                                            <div class="list-item--hero__call-to-action">
                                                <p>
                                                    <span class="text--xsmall">Monthly from</span>
                                    <span class="list-item__price" itemprop="productPrice">
                                      <span>9999,00</span>
                                      <span class="text--note">kr.</span>
                                    </span>
                                                </p>
                                                <a href="" class="button button--small button--action">Read more</a>
                                            </div>
                                            <a href="/en/shop/phones/favorites" class="bullet-link category-link">Customer favorites</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div id="article-sections" class="doc-compontent-box sg-component mix is-inprogress  mobile-one-whole omega" style="display: inline-block;">
            <div class="sg-component__header">
                <h2 class="title--medium-small trailer--small">Article sections</h2>
            </div>
            <div class="sg-component__status mobile-one-whole omega">
                <p class="mobile-one-half mobile-pull-right mobile-text-right">
                    <span class="status-dot status-dot status-dot--yellow">In progress</span>
                </p>
            </div>

            <!-- Markup -->
            <div class="sg-component__markup mobile-one-whole omega  ">
                <div class="sg-component__label">Text left title border</div>
                <section class="section--padding">
                    <div class="container">
                        <article class="article article--title-border article--text-left">
                            <h4 class="title--article trailer leader--large block__header">About iPhone 5c</h4>
                            <div class="article__bodytext mobile-one-whole tablet-wide-one-half">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum varius, lectus et imperdiet placerat, risus nibh feugiat eros, sit amet dignissim ante libero in enim. Curabitur pellentesque vulputate quam, molestie ullamcorper
                                    ante varius id. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur vel erat id mi luctus dignissim id sit amet lorem.</p>
                                <ul class="list--check--dark trailer--large ">
                                    <li>Lightning fast Dual-core A6 chip</li>
                                    <li>8 MegaPixel iSight-camera</li>
                                    <li>Full HD video recording (1080 p)</li>
                                    <li>Razorsharp 4” Retina display</li>
                                </ul>
                                <a class="button button--default trailer--small panel-link" href="#specs" role="tab">More specifications</a>
                            </div>
                            <div class="article__image mobile-one-whole tablet-wide-one-half omega">
                                <img src="../assets/framework/img/iphone5pinkyellow.png" alt="">
                            </div>
                        </article>
                    </div>
                </section>
                <div class="sg-component__label">Full width text left</div>
                <section class="section--padding">
                    <div class="container">
                        <article class="article article--expand-right article--text-left">
                            <div class="article__bodytext mobile-one-whole tablet-one-half desk-five-twelfths">
                                <h4 class="title--article trailer--large leader--large">Built-in apps</h4>
                                <p>Curabitur vel erat id mi luctus dignissim id sit amet lorem. Donec sit amet ligula mi. Cras fringilla pellentesque turpis non dapibus. Nam interdum rutrum cursus. Mauris ut laoreet est, vitae dignissim ligula.</p>
                                <p>Suspendisse condimentum dignissim nisl sed eleifend. Cras dignissim euismod odio, sed facilisis arcu fringilla sit amet. Cras dignissim at erat vitae porttitor.</p>
                            </div>
                            <div class="article__image mobile-one-whole tablet-one-half desk-seven-twelfths omega">
                                <img src="../assets/framework/img/iphone5_sprite.png" alt="">
                            </div>
                        </article>
                    </div>
                </section>
                <div class="sg-component__label">Full width text right</div>
                <section class="section--padding">
                    <div class="container">
                        <article class="article article--expand-left article--text-right">
                            <div class="article__image mobile-one-whole tablet-one-half desk-seven-twelfths">
                                <img src="../assets/framework/img/iphone5_sprite.png" alt="">
                            </div>
                            <div class="article__bodytext mobile-one-whole tablet-one-half desk-five-twelfths omega">
                                <h4 class="title--article trailer--large leader--large">Built-in apps</h4>
                                <p>Curabitur vel erat id mi luctus dignissim id sit amet lorem. Donec sit amet ligula mi. Cras fringilla pellentesque turpis non dapibus. Nam interdum rutrum cursus. Mauris ut laoreet est, vitae dignissim ligula.</p>
                                <p>Suspendisse condimentum dignissim nisl sed eleifend. Cras dignissim euismod odio, sed facilisis arcu fringilla sit amet. Cras dignissim at erat vitae porttitor.</p>
                            </div>
                        </article>
                    </div>
                </section>
                <div class="sg-component__label">One half text left</div>
                <section class="section--padding">
                    <div class="container">
                        <article class="article article--text-left">
                            <div class="article__bodytext mobile-one-whole tablet-wide-one-half">
                                <h4 class="title--article trailer--large leader--large">iOS 7 complements your iPhone 5c beautifully</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum varius, lectus et imperdiet placerat, risus nibh feugiat eros, sit amet dignissim ante libero in enim. Curabitur pellentesque vulputate quam, molestie ullamcorper
                                    ante varius id.</p>
                                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur vel erat id mi luctus dignissim id sit amet lorem. Donec sit amet ligula mi. Cras fringilla pellentesque turpis non dapibus. Nam
                                    interdum rutrum cursus. Mauris ut laoreet est, vitae</p>
                            </div>
                            <div class="article__image mobile-one-whole tablet-wide-one-half omega">
                                <img src="../assets/framework/img/iphone5_3items.png" alt="">
                            </div>
                        </article>
                    </div>
                </section>
                <div class="sg-component__label">One half text right</div>
                <section class="section--padding">
                    <div class="container">
                        <article class="article article--text-right">
                            <div class="article__image mobile-one-whole tablet-wide-one-half ">
                                <img src="../assets/framework/img/iphone5_3items.png" alt="">
                            </div>
                            <div class="article__bodytext mobile-one-whole tablet-wide-one-half omega">
                                <h4 class="title--article trailer--large leader--large">iOS 7 complements your iPhone 5c beautifully</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum varius, lectus et imperdiet placerat, risus nibh feugiat eros, sit amet dignissim ante libero in enim. Curabitur pellentesque vulputate quam, molestie ullamcorper
                                    ante varius id.</p>
                                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur vel erat id mi luctus dignissim id sit amet lorem. Donec sit amet ligula mi. Cras fringilla pellentesque turpis non dapibus. Nam
                                    interdum rutrum cursus. Mauris ut laoreet est, vitae</p>
                            </div>
                        </article>
                    </div>
                </section>
                <div class="sg-component__label">Text bottom image top</div>
                <section class="section--padding">
                    <div class="container">
                        <article class="article">
                            <div class="article__image mobile-one-whole">
                                <img src="../assets/framework/img/iphone5_sprite.png" alt="">
                            </div>
                            <div class="article__bodytext mobile-one-whole">
                                <h4 class="title--article trailer--large">iOS 7 complements your iPhone 5c beautifully</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum varius, lectus et imperdiet placerat, risus nibh feugiat eros, sit amet dignissim ante libero in enim. Curabitur pellentesque vulputate quam, molestie ullamcorper
                                    ante varius id.</p>
                                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur vel erat id mi luctus dignissim id sit amet lorem. Donec sit amet ligula mi. Cras fringilla pellentesque turpis non dapibus. Nam
                                    interdum rutrum cursus. Mauris ut laoreet est, vitae</p>
                            </div>
                        </article>
                    </div>
                </section>
                <div class="sg-component__label">Text top image bottom</div>
                <section class="section--padding">
                    <div class="container">
                        <article class="article">
                            <div class="article__bodytext mobile-one-whole">
                                <h4 class="title--article trailer--large">iOS 7 complements your iPhone 5c beautifully</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum varius, lectus et imperdiet placerat, risus nibh feugiat eros, sit amet dignissim ante libero in enim. Curabitur pellentesque vulputate quam, molestie ullamcorper
                                    ante varius id.</p>
                                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur vel erat id mi luctus dignissim id sit amet lorem. Donec sit amet ligula mi. Cras fringilla pellentesque turpis non dapibus. Nam
                                    interdum rutrum cursus. Mauris ut laoreet est, vitae</p>
                            </div>
                            <div class="article__image mobile-one-whole">
                                <img src="../assets/framework/img/iphone5_sprite.png" alt="">
                            </div>
                        </article>
                    </div>
                </section>
                <div class="sg-component__label">Text left</div>
                <section class="section--padding">
                    <div class="container">
                        <article class="article--expand-right">
                            <div class="article__bodytext mobile-one-whole tablet-two-thirds desk-two-thirds">
                                <h4 class="title--article trailer--large leader--large">Built-in apps</h4>
                                <p>Curabitur vel erat id mi luctus dignissim id sit amet lorem. Donec sit amet ligula mi. Cras fringilla pellentesque turpis non dapibus. Nam interdum rutrum cursus. Mauris ut laoreet est, vitae dignissim ligula.</p>
                                <p>Suspendisse condimentum dignissim nisl sed eleifend. Cras dignissim euismod odio, sed facilisis arcu fringilla sit amet. Cras dignissim at erat vitae porttitor.</p>
                            </div>
                            <div class="article__image mobile-one-whole tablet-one-third desk-one-third omega">
                                <img src="../assets/framework/img/iphone5_3items.png" alt="">
                            </div>
                        </article>
                    </div>
                </section>
                <div class="sg-component__label">Text right</div>
                <section class="section--padding">
                    <div class="container">
                        <article class="article--expand-left">
                            <div class="article__image mobile-one-whole tablet-one-third desk-one-third">
                                <img src="../assets/framework/img/iphone5_3items.png" alt="">
                            </div>
                            <div class="article__bodytext mobile-one-whole tablet-two-thirds desk-two-thirds omega">
                                <h4 class="title--article trailer--large leader--large">Built-in apps</h4>
                                <p>Curabitur vel erat id mi luctus dignissim id sit amet lorem. Donec sit amet ligula mi. Cras fringilla pellentesque turpis non dapibus. Nam interdum rutrum cursus. Mauris ut laoreet est, vitae dignissim ligula.</p>
                                <p>Suspendisse condimentum dignissim nisl sed eleifend. Cras dignissim euismod odio, sed facilisis arcu fringilla sit amet. Cras dignissim at erat vitae porttitor.</p>
                            </div>
                        </article>
                    </div>
                </section>
            </div>
        </div>
        <div id="product-grid-item" class="doc-compontent-box sg-component mix is-inprogress  mobile-one-whole omega" style="display: inline-block;">
            <div class="sg-component__header">
                <h2 class="title--medium-small trailer--small">Product grid item</h2>
            </div>
            <div class="sg-component__status mobile-one-whole omega">
                <p class="mobile-one-half mobile-pull-right mobile-text-right">
                    <span class="status-dot status-dot status-dot--yellow">In progress</span>
                </p>
            </div>

            <!-- Markup -->
            <div class="sg-component__markup mobile-one-whole omega  ">
                <div class="product-grid__item mobile-li-one-half tablet-li-one-third desk-li-one-quarter">
                    <div class="product-grid__item__inner-wrapper">
                        <div class="product-grid__item__image-wrapper">
                            <a href="#">
                                <img src="../assets/framework/img/beats-headset.png" alt="">
                            </a>
                        </div>
                        <div class="product-grid__item__details">
                            <p class="product-name">
                                <span class="title--xxsmall" itemprop="productName"><a title="product name" href="#">Beats headset Beats headset Beats headset</a></span>
                            </p>
                            <span class="product-price" itemprop="productPrice">
                              <span>9999,00</span>
                              <span class="text--note">kr.</span>
                            </span>
                            <a class="category-link icon-arrow-next" href="">Headphones &amp; speakers</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="product-grid-item-overlay" class="doc-compontent-box sg-component mix is-inprogress  mobile-one-whole omega" style="display: inline-block;">
            <div class="sg-component__header">
                <h2 class="title--medium-small trailer--small">Product grid item overlay</h2>
            </div>
            <div class="sg-component__status mobile-one-whole omega">
                <p class="mobile-one-half mobile-pull-right mobile-text-right">
                    <span class="status-dot status-dot status-dot--yellow">In progress</span>
                </p>
            </div>

            <!-- Markup -->
            <div class="sg-component__markup mobile-one-whole omega  ">
                <div style="background-image: url('../assets/framework/img/banner.png');" class="product-grid__item product-grid__item--overlay product-grid__item--overlay--purple mobile-li-one-whole tablet-li-two-thirds desk-li-one-half">
                    <span class="title--xlarge product-grid__item__banner__title">A big heading</span>
                    <div class="product-grid__item__banner product-grid__item__banner--bottom product-grid__item__banner--right">
                        <p class="product-name">
                        <span class="title--xxsmall" itemprop="productName"><a title="product name" href="#">Beats headset</a>
                        </span>
                        </p>
                      <span class="product-price" itemprop="productPrice">
                        <span>9999,00</span>
                        <span class="text--note">kr.</span>
                      </span>
                        <a class="category-link icon-arrow-next" href="">Phones</a>
                        <a href="" class="button button--default button--default--dark-bg">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="product-grid-item-tall" class="doc-compontent-box sg-component mix is-inprogress  mobile-one-whole omega" style="display: inline-block;">
            <div class="sg-component__header">
                <h2 class="title--medium-small trailer--small">Product grid item tall</h2>
            </div>
            <div class="sg-component__status mobile-one-whole omega">
                <p class="mobile-one-half mobile-pull-right mobile-text-right">
                    <span class="status-dot status-dot status-dot--yellow">In progress</span>
                </p>
            </div>

            <!-- Markup -->
            <div class="sg-component__markup mobile-one-whole omega  ">
                <div class="product-grid__item product-grid__item--tall mobile-li-one-whole tablet-li-one-third desk-li-one-quarter">
                    <div class="product-grid__item__inner-wrapper">
                        <div class="product-grid__item__image-wrapper mobile-one-half tablet-one-whole">
                            <a href="#">

                                <!-- : Responsive image element -->
                          <span data-picture="" data-alt="The worlds most hyped smart phone.">
                            <span data-src="assets/_framework/images/resp/iphone5_white-medium.png"></span>
                            <span data-src="assets/_framework/images/resp/iphone5_white-medium.png" data-media="(min-width: 450px)"></span>
                            <span data-src="assets/_framework/images/resp/iphone5_white-medium.png" data-media="(min-width: 600px)">
                                <img alt="The worlds most hyped smart phone." src="../assets/framework/img/iphone5_white-medium.png">
                            </span>

                            <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
                            <noscript>
                                &lt;img src="assets/_framework/images/resp/iphone5_white-medium.png" alt="The worlds most hyped smart phone."&gt;
                            </noscript>
                          </span>
                            </a>
                        </div>
                        <div class="product-grid__item__details mobile-one-half tablet-one-whole omega">

                            <!-- : Five star rating blue -->
                            <div class="rating--stars" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
                          <span class="rating__stars rating__stars--small rating__stars--blue" aria-hidden="true">
                            <span class="icon-star fill--whole"></span>
                            <span class="icon-star fill--whole"></span>
                            <span class="icon-star fill--whole"></span>
                            <span class="icon-star fill--half"></span>
                            <span class="icon-star"></span>
                          </span>
                          <span class="aria--visible">
                            <span class="aria--visible">Rated</span>
                            <span itemprop="ratingValue">3.4</span>
                            <span class="aria--visible">out of
                              <span itemprop="bestRating">5</span>
                            </span>from
                            <span itemprop="reviewCount">86</span>users reviews
                          </span>
                            </div>
                            <p class="product-name">
                          <span class="title--xxsmall" itemprop="productName"><a title="product name" href="#">Galaxy S4</a>
                          </span>
                            </p>
                        <span class="product-price" itemprop="productPrice">
                          <span>9999,00</span>
                          <span class="text--note">kr.</span>
                        </span>
                            <div class="product-grid__note">
                                <ul>
                                    <li>With FRI+ 5GB for 12 months.</li>
                                    <li>Downpayment: 99,00 kr.</li>
                                    <li>Min. price, 6 mo: 6.223,25 kr.</li>
                                </ul>
                            </div>
                            <a class="category-link icon-arrow-next" href="">Phones</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="filter-products" class="sg-component mix is-approved  mobile-one-whole omega" style="display: inline-block;">
            <div class="sg-component__header">
                <h2 class="title--medium-small trailer--small">Filter products</h2>
            </div>
            <div class="sg-component__status mobile-one-whole omega">
                <p class="mobile-one-half mobile-pull-right mobile-text-right">
                    <span class="status-dot status-dot status-dot--green">Approved <a href="/v/0.7.0/#component-Filter-products">(0.7.0)</a>
                    </span>
                </p>
            </div>

            <!-- Markup -->
            <div class="sg-component__markup mobile-one-whole omega sg-component__markup--no-padding sg-component__markup--overflow">
                <div class="sg-component__label">Product filter</div>

                <!-- : Products filter menu -->
                <div class="menu--filtering" id="menu-filters-category">
                    <div class="menu--filtering__utils">
                        <div class="form-search is-empty menu--filtering__search mobile-three-quarters" data-module="form.search" id="filterSearch">
                            <label class="aria--visible" for="search">Search</label>
                            <input id="search" type="search" placeholder="Search">
                            <button type="button" tabindex="-1" class="form-search__clear no-js--hidden icon-clear" data-list-clear="">
                                <span class="aria--visible">Clear filter</span>
                            </button>
                            <button id="search-button" class="form-search__submit" tabindex="-1">
                                <span class="icon-search"></span>
                                <span class="aria--visible">Search</span>
                            </button>
                        </div>
                        <button class="button button--default button--filter-toggle mobile-one-quarter mobile-pull-right" data-mobile-removeclass="is-expanded" data-desk-removeclass="is-expanded" data-toggle="collapse" data-target=".filter-collapse" data-desk-append="filter-button-container" data-mobile-after="filterSearch">Filters</button>
                    </div>
                    <ul class="button--tabs flexnav--inited flexnav--active" id="top-filters" data-module="nav.flex" data-moretext="More">
                        <li><a class="is-active" href="#">All phones</a>
                        </li>
                        <li><a href="#">Top sellers</a>
                        </li>
                        <li><a href="#">Customers favorites</a>
                        </li>
                        <li><a href="#">Now trending</a>
                        </li>
                        <li><a href="#">Most popular</a>
                        </li>
                        <li><a href="#">Recent reviews</a>
                        </li>

                        <li class="flexnav"><a class="flexnav__toggler">More</a><ul class="flexnav__subnav"><li><a href="#">Recent reviews</a>
                        </li><li><a href="#">Recent reviews</a>
                        </li><li><a href="#">Recent reviews</a>
                        </li></ul></li><li class="flexnav__filter mobile-pull-right" id="filter-button-container"></li>
                    </ul>
                    <div class="menu--filtering__filters mobile-one-whole omega" id="filters-category">
                        <ul id="filters-chosen" class="form-item form-inline" data-desk-append="panel-brand" data-mobile-prepend="filters"></ul>
                        <div class="panel-group" id="filters-primary"></div>
                        <div class="panel-group is-collapsed filter-collapse" id="filters-secondary" data-desk-addclass="is-collapsed" data-desk-removeclass="is-open" data-mobile-removeclass="is-open" data-mobile-addclass="is-collapsed">
                            <div class="panel panel-accordion panel-accordion--filter" data-desk-append="filters-primary" data-mobile-prepend="filters-secondary">
                                <div class="panel-heading panel-accordion__heading is-collapsed filter-collapse" data-mobile-removeclass="is-collapsed filter-collapse is-open is-active" data-desk-addclass="is-collapsed filter-collapse" data-desk-removeclass="is-active">
                                    <a href="#panel-brand" data-toggle="collapse" data-parent=".panel-group">
                                        Brand
                                    </a>
                                </div>
                                <div id="panel-brand" class="panel-body panel-accordion__body" data-mobile-addclass="is-collapsed" data-desk-removeclass="is-collapsed filter-collapse is-open">
                                    <ul id="filters-brand" class="form-item form-inline">
                                        <li class="form-checkbox--filter form-checkbox--filter--primary">
                                            <input type="checkbox" name="optionsbrand" id="checkboxbrand0" value="brand0">
                                            <label class="text" for="checkboxbrand0">Apple
                                                <span class="filter-count">(4)</span>
                                            </label>
                                        </li>
                                        <li class="form-checkbox--filter form-checkbox--filter--primary">
                                            <input type="checkbox" name="optionsbrand" id="checkboxbrand1" value="brand1">
                                            <label class="text" for="checkboxbrand1">Samsung
                                                <span class="filter-count">(8)</span>
                                            </label>
                                        </li>
                                        <li class="form-checkbox--filter form-checkbox--filter--primary">
                                            <input type="checkbox" name="optionsbrand" id="checkboxbrand2" value="brand2">
                                            <label class="text" for="checkboxbrand2">Sony
                                                <span class="filter-count">(4)</span>
                                            </label>
                                        </li>
                                        <li class="form-checkbox--filter form-checkbox--filter--primary">
                                            <input type="checkbox" name="optionsbrand" id="checkboxbrand3" value="brand3">
                                            <label class="text" for="checkboxbrand3">HTC
                                                <span class="filter-count">(5)</span>
                                            </label>
                                        </li>
                                        <li class="form-checkbox--filter form-checkbox--filter--primary">
                                            <input type="checkbox" name="optionsbrand" id="checkboxbrand4" value="brand4">
                                            <label class="text" for="checkboxbrand4">Doro
                                                <span class="filter-count">(1)</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel panel-accordion panel-accordion--filter">
                                <div class="panel-heading panel-accordion__heading">
                                    <a href="#panel-os" data-toggle="collapse" data-parent=".panel-group">
                                        OS
                                    </a>
                                </div>
                                <div id="panel-os" class="panel-body panel-accordion__body" data-mobile-addclass="is-collapsed" data-desk-removeclass="is-collapsed filter-collapse is-open">
                                    <ul id="filters-os" class="form-item form-inline">
                                        <li class="form-checkbox--filter ">
                                            <input type="checkbox" name="optionsos" id="checkboxos0" value="os0">
                                            <label class="text" for="checkboxos0">Android
                                                <span class="filter-count">(4)</span>
                                            </label>
                                        </li>
                                        <li class="form-checkbox--filter ">
                                            <input type="checkbox" name="optionsos" id="checkboxos1" value="os1">
                                            <label class="text" for="checkboxos1">Windows
                                                <span class="filter-count">(8)</span>
                                            </label>
                                        </li>
                                        <li class="form-checkbox--filter ">
                                            <input type="checkbox" name="optionsos" id="checkboxos2" value="os2">
                                            <label class="text" for="checkboxos2">iOS
                                                <span class="filter-count">(4)</span>
                                            </label>
                                        </li>
                                        <li class="form-checkbox--filter ">
                                            <input type="checkbox" name="optionsos" id="checkboxos3" value="os3">
                                            <label class="text" for="checkboxos3">BlackBerry
                                                <span class="filter-count">(5)</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel panel-accordion panel-accordion--filter">
                                <div class="panel-heading panel-accordion__heading">
                                    <a href="#panel-features" data-toggle="collapse" data-parent=".panel-group">
                                        Features
                                    </a>
                                </div>
                                <div id="panel-features" class="panel-body panel-accordion__body" data-mobile-addclass="is-collapsed" data-desk-removeclass="is-collapsed filter-collapse is-open">
                                    <ul id="filters-features" class="form-item form-inline">
                                        <li class="form-checkbox--filter ">
                                            <input type="checkbox" name="optionsfeatures" id="checkboxfeatures0" value="features0">
                                            <label class="text" for="checkboxfeatures0">Smartphone
                                                <span class="filter-count">(4)</span>
                                            </label>
                                        </li>
                                        <li class="form-checkbox--filter ">
                                            <input type="checkbox" name="optionsfeatures" id="checkboxfeatures1" value="features1">
                                            <label class="text" for="checkboxfeatures1">Feature Phone
                                                <span class="filter-count">(3)</span>
                                            </label>
                                        </li>
                                        <li class="form-checkbox--filter ">
                                            <input type="checkbox" name="optionsfeatures" id="checkboxfeatures2" value="features2">
                                            <label class="text" for="checkboxfeatures2">Heavy Duty
                                                <span class="filter-count">(4)</span>
                                            </label>
                                        </li>
                                        <li class="form-checkbox--filter ">
                                            <input type="checkbox" name="optionsfeatures" id="checkboxfeatures3" value="features3">
                                            <label class="text" for="checkboxfeatures3">Large Phone
                                                <span class="filter-count">(4)</span>
                                            </label>
                                        </li>
                                        <li class="form-checkbox--filter ">
                                            <input type="checkbox" name="optionsfeatures" id="checkboxfeatures4" value="features4">
                                            <label class="text" for="checkboxfeatures4">We make more money
                                                <span class="filter-count">(4)</span>
                                            </label>
                                        </li>
                                        <li class="form-checkbox--filter ">
                                            <input type="checkbox" name="optionsfeatures" id="checkboxfeatures5" value="features5">
                                            <label class="text" for="checkboxfeatures5">Cheap
                                                <span class="filter-count">(3)</span>
                                            </label>
                                        </li>
                                        <li class="form-checkbox--filter ">
                                            <input type="checkbox" name="optionsfeatures" id="checkboxfeatures6" value="features6">
                                            <label class="text" for="checkboxfeatures6">Fun!
                                                <span class="filter-count">(4)</span>
                                            </label>
                                        </li>
                                        <li class="form-checkbox--filter ">
                                            <input type="checkbox" name="optionsfeatures" id="checkboxfeatures7" value="features7">
                                            <label class="text" for="checkboxfeatures7">Large Phone
                                                <span class="filter-count">(4)</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="list-item-in-thumbnail-view" class="sg-component mix is-futuredrops  mobile-one-whole omega" style="display: inline-block;">
            <div class="sg-component__header">
                <h2 class="title--medium-small trailer--small">List item in thumbnail view</h2>
            </div>
            <div class="sg-component__status mobile-one-whole omega">
                <p class="mobile-one-half mobile-pull-right mobile-text-right">
                    <span class="status-dot status-dot status-dot--blue">Future drops</span>
                </p>
            </div>

            <!-- Markup -->
            <div class="sg-component__markup mobile-one-whole omega  ">

                <!-- : Product - thumb -->
                <div class="list-item list-item--thumb mobile-li-one-half tablet-li-one-third tablet-wide-li-one-sixth desk-li-one-sixth">
                    <div class="list-item__inner-wrapper">
                        <div class="mobile-one-whole tablet-one-whole">
                            <a href="#">

                                <!-- : Responsive image element -->
                          <span data-picture="" data-alt="The worlds most hyped smart phone.">
                            <span data-src="assets/_framework/images/resp/galaxy-small.png"></span>
                            <span data-src="assets/_framework/images/resp/galaxy-medium.png" data-media="(min-width: 450px)"></span>
                            <span data-src="assets/_framework/images/resp/galaxy-large.png" data-media="(min-width: 600px)">
                                <img alt="The worlds most hyped smart phone." src="../assets/framework/img/galaxy-large.png">
                            </span>

                            <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
                            <noscript>
                                &lt;img src="assets/_framework/images/resp/galaxy-small.png" alt="The worlds most hyped smart phone."&gt;
                            </noscript>
                          </span>
                            </a>
                        </div>
                        <div class="mobile-one-whole tablet-one-whole omega">
                            <div class="list-item__info">
                                <p>
                            <span class="list-item__name mobile-one-whole mobile-pull-left" itemprop="productName"><a href="#">List item in thumbnail view</a>
                            </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="list-item" class="sg-component mix is-inprogress  mobile-one-whole omega" style="display: inline-block;">
            <div class="sg-component__header">
                <h2 class="title--medium-small trailer--small">List item</h2>
            </div>
            <div class="sg-component__status mobile-one-whole omega">
                <p class="mobile-one-half mobile-pull-right mobile-text-right">
                    <span class="status-dot status-dot status-dot--yellow">In progress</span>
                </p>
            </div>

            <!-- Markup -->
            <div class="sg-component__markup mobile-one-whole omega  ">
                <div class="list-item list-item--normal mobile-li-one-whole tablet-li-one-half tablet-wide-li-one-third desk-li-one-quarter">
                    <div class="list-item__inner-wrapper">
                        <div class="mobile-one-third mobile-pull-left tablet-one-whole">

                            <!-- : Responsive image element -->
                        <span data-picture="" data-alt="The worlds most hyped smart phone.">
                          <span data-src="assets/_framework/images/resp/galaxy-small.png"></span>
                          <span data-src="assets/_framework/images/resp/galaxy-medium.png" data-media="(min-width: 450px)"></span>
                          <span data-src="assets/_framework/images/resp/galaxy-large.png" data-media="(min-width: 600px)">
                              <img alt="The worlds most hyped smart phone." src="../assets/framework/img/galaxy-large.png">
                          </span>

                          <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
                          <noscript>
                              &lt;img src="assets/_framework/images/resp/galaxy-small.png" alt="The worlds most hyped smart phone."&gt;
                          </noscript>
                        </span>
                            <ul class="radios--color ">
                                <li>
                                    <input id="radio-color1" name="optionColor" type="radio" value="colorcode1" checked="">
                                    <label tabindex="0" for="radio-color1" class="radio-color__white">White</label>
                                </li>
                                <li>
                                    <input id="radio-color2" name="optionColor" type="radio" value="colorcode2">
                                    <label tabindex="0" for="radio-color2" class="radio-color__blue">blue</label>
                                </li>
                                <li>
                                    <input id="radio-color3" name="optionColor" type="radio" value="colorcode3">
                                    <label tabindex="0" for="radio-color3" class="radio-color__green">green</label>
                                </li>
                                <li>
                                    <input id="radio-color4" name="optionColor" type="radio" value="colorcode4">
                                    <label tabindex="0" for="radio-color4" class="radio-color__yellow">yellow</label>
                                </li>
                                <li>
                                    <input id="radio-color5" name="optionColor" type="radio" value="colorcode5">
                                    <label tabindex="0" for="radio-color5" class="radio-color__red">red</label>
                                </li>
                            </ul>
                        </div>
                        <div class="mobile-two-thirds tablet-one-whole omega">
                            <div class="list-item__info">

                                <!-- : Five star rating blue -->
                                <div class="rating--stars" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
                            <span class="rating__stars rating__stars--small rating__stars--blue" aria-hidden="true">
                              <span class="icon-star fill--whole"></span>
                              <span class="icon-star fill--whole"></span>
                              <span class="icon-star fill--whole"></span>
                              <span class="icon-star fill--half"></span>
                              <span class="icon-star"></span>
                            </span>
                            <span class="aria--visible">
                              <span class="aria--visible">Rated</span>
                              <span itemprop="ratingValue">3.4</span>
                              <span class="aria--visible">out of
                                <span itemprop="bestRating">5</span>
                              </span>from
                              <span itemprop="reviewCount">86</span>users reviews
                            </span>
                                </div>
                                <p>
                                    <span class="list-item__name mobile-one-whole mobile-pull-left" itemprop="productName">Samsung Galaxy S4 - Something special</span>
                                    <span class="list-item__price mobile-one-whole mobile-pull-left" itemprop="productPrice">99,00 kr./mo.</span>
                                </p>
                            </div>
                            <div class="list-item__splash topleft list-item__splash--green">
                                <div class="flag">
                                    <div class="flag__body">
                                        <div class="title--xxsmall">Halv Pris</div>
                                        <div class="text--small">145,00 Kr</div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item__splash list-item__splash--flat topright list-item__splash--green">
                                <div class="flag">
                                    <div class="flag__body">
                                        <div class="text--small">145,00 Kr</div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item__splash list-item__splash--small bottomleft list-item__splash--green">
                                <div class="flag">
                                    <div class="flag__body">
                                        <div class="text--small">4G</div>
                                    </div>
                                </div>
                            </div>
                            <p class="list-item__status">
                                <span class="aria--visible">In stock</span>
                                <span class="status-dot status-dot--green status-dot--small">Express delivery: 1-2 days</span>
                            </p>
                            <div>
                                <button class="button button--action button--small">Read more</button>
                            </div>
                        </div>
                        <div class="form-checkbox form-item--small mobile-one-whole">
                            <input type="checkbox" name="checkbox-" id="checkbox-" value="option">
                            <label class="text--xsmall text--muted" for="checkbox-">Compare</label>
                        </div>
                    </div>
                    <a href="#" class="list-item__note mobile-one-whole">
                        <div>With FRI+ 5GB for 12 months</div>
                        <div>Downpayment: 99,00 kr.</div>
                        <div>Min. price, 6 mo: 6.223,25 kr.</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>