<div class="doc-side-list">
    <ul>
        <li><a href="#pager">Pager</a></li>
        <li><a href="#tabs">Tabs</a></li>
        <li><a href="#flat-tabs">Flat tabs</a></li>
        <li><a href="#subscription-dropdown">Subscription dropdown</a></li>
    </ul>
</div>
<div class="block__header leader--large trailer--large">
    <h2 class="title--medium">Tabs filters pagers</h2>
</div>
<div id="tabs" class="doc-compontent-box">
        <div class="sg-component">
            <div class="sg-component__header">
                <h2 class="title--medium-small trailer--small">Tabs</h2>
            </div>
            <div class="sg-component__status">
                <p class="mobile-one-half mobile-pull-right mobile-text-right">
                    <span class="status-dot status-dot--green pull-right">Approved <a href="">(0.1.0)</a>
                    </span>
                </p>
            </div>
            <div class="sg-component__markup">
                <div class="block">
                    <div class="sg-component__label">Default tabpanel - select on small screens</div>
                    <!--default tabs-->
                      <div class="display--inline-block mobile-display--block">
                          <ul class="tabgroup clear">
                              <li class="tabgroup__tab">
                                  <a class="tabgroup__link"  href="#panel1">Panel 1</a>
                              </li>
                              <li class="tabgroup__tab">
                                  <a class="tabgroup__link"  href="#panel2">Panel 1</a>
                              </li>
                              <li class="tabgroup__tab is-active">
                                  <a class="tabgroup__link"  href="#panel3">Panel 1</a>
                              </li>
                          </ul>
                          <div class="tabpanel__content-wrapper">
                              <section id="panel1" class="tabpanel__panel">
                                  <div class="sg-component__label">Tab content 1
                                  </div>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                              </section>
                              <section id="panel2" class="tabpanel__panel">
                                  <div class="sg-component__label">Tab content 2
                                  </div>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                              </section>
                              <section id="panel3" class="tabpanel__panel is-active">
                                  <div class="sg-component__label">Tab content 3
                                  </div>
                                  <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                                      mus. Cras viverra tortor ornare faucibus faucibus.
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam iaculis semper
                                      massa nec faucibus. Suspendisse potenti. Donec vulputate in nisl sed pellentesque.
                                      Praesent viverra ex in consectetur sagittis. Class aptent taciti sociosqu ad
                                      litora torquent per conubia nostra, per inceptos himenaeos.
                                      Etiam ut ante turpis. Nulla bibendum imperdiet odio, ut consequat est tempor quis.
                                      Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
                                      turpis egestas. Quisque neque nulla, gravida elementum arcu eget, viverra
                                      porttitor neque. Nulla venenatis porttitor sem at sollicitudin. Curabitur sit amet
                                      massa nisi. In hac habitasse platea dictumst. Nam ante metus, viverra sit amet
                                      commodo at, aliquet eget augue.</p>
                              </section>
                          </div>
                      </div>
                    <!-- tabs-end-->
                    <div class="sg-component__label">Small tabpanel - stretch on small screens</div>
                    <!-- small tabs-->
                    <div class="display--inline-block mobile-display--block">
                        <ul class="tabgroup tabgroup--small clear">
                            <li class="tabgroup__tab">
                                <a class="tabgroup__link" href="#panel-s-1">Panel 1</a>
                            </li>
                            <li class="tabgroup__tab">
                                <a class="tabgroup__link" href="#panel-s-2">Panel 1</a>
                            </li>
                            <li class="tabgroup__tab is-active">
                                <a class="tabgroup__link" href="#panel-s-3">Panel 1</a>
                            </li>
                        </ul>
                        <div class="tabpanel__content-wrapper">
                            <section id="panel-s-1" class="tabpanel__panel">
                                <div class="sg-component__label">Tab content 1
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </section>
                            <section id="panel-s-2" class="tabpanel__panel">
                                <div class="sg-component__label">Tab content 2
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </section>
                            <section id="panel-s-3" class="tabpanel__panel is-active">
                                <div class="sg-component__label">Tab content 3
                                </div>
                                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                                    mus. Cras viverra tortor ornare faucibus faucibus.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam iaculis semper
                                    massa nec faucibus. Suspendisse potenti. Donec vulputate in nisl sed pellentesque.
                                    Praesent viverra ex in consectetur sagittis. Class aptent taciti sociosqu ad
                                    litora torquent per conubia nostra, per inceptos himenaeos.
                                    Etiam ut ante turpis. Nulla bibendum imperdiet odio, ut consequat est tempor quis.
                                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
                                    turpis egestas. Quisque neque nulla, gravida elementum arcu eget, viverra
                                    porttitor neque. Nulla venenatis porttitor sem at sollicitudin. Curabitur sit amet
                                    massa nisi. In hac habitasse platea dictumst. Nam ante metus, viverra sit amet
                                    commodo at, aliquet eget augue.</p>
                            </section>
                        </div>
                    </div>
                    <!-- small tabs-end-->
                </div>
            </div>
            <!-- document code-->
            <div>
源码区域....
            </div>
        </div>
    </div>
    <!-- flat tab-->
    <div id="flat-tabs" class="doc-compontent-box">
        <!-- checkbox-component-start-->
        <div class="sg-component">
            <div class="sg-component__header">
                <h2 class="title--medium-small trailer--small">Flat tabs</h2>
            </div>
            <div class="sg-component__status">
                <p class="mobile-one-half mobile-pull-right mobile-text-right">
                    <span class="status-dot status-dot--green pull-right">Approved <a href="">(0.1.0)</a>
                    </span>
                </p>
            </div>
            <div class="sg-component__markup">
                <div class="block">
                    <div class="sg-component__label">Many items - Select in mobile breakpoint</div>
                    <!-- flat many-tabs-->
                    <div id="tabpanel" class="tabpanel">
                        <nav class="trailer">
                            <ul class="tabpanel__list trailer">
                                <li class="tabpanel__tab is-active">
                                    <a href="#nogo" class="tabpanel__link">Om Samsung Galaxy S6Edge+</a>
                                </li>
                                <li class="tabpanel__tab">
                                    <a href="#nogo" class="tabpanel__link">Tekniske specifikationer</a>
                                </li>
                                <li class="tabpanel__tab">
                                    <a href="#nogo" class="tabpanel__link">Fortrydelse</a>
                                </li>
                                <li class="tabpanel__tab">
                                    <a href="#nogo" class="tabpanel__link">Levering</a>
                                </li>
                                <li class="tabpanel__tab flexnav--invisible">
                                    <a href="#nogo" class="tabpanel__link">Levering123</a>
                                </li>
                                <li class="tabpanel__tab flexnav" style="width: 92px">
                                    <a href="#nogo" class="tabpanel__link flexnav__toggler">More</a>
                                    <ul class="flexnav__subnav">
                                        <li class="tabpanel__tab flexnav--invisible flexnav--active-tab">
                                            <a href="#nogo" class="tabpanel__link">Om Samsung Galaxy S6Edge+</a>
                                        </li>
                                        <li class="tabpanel__tab flexnav--invisible flexnav--active-tab">
                                            <a href="#nogo" class="tabpanel__link">Tekniske specifikationer</a>
                                        </li>
                                        <li class="tabpanel__tab flexnav--invisible flexnav--active-tab">
                                            <a href="#nogo" class="tabpanel__link">Fortrydelse</a>
                                        </li>
                                        <li class="tabpanel__tab flexnav--active-tab">
                                            <a href="#nogo" class="tabpanel__link">Levering123</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- flat tabs-end-->
                    <!-- Few items-->
                    <div class="sg-component__label">Few items</div>
                    <div class="tabpanel">
                        <nav class="trailer">
                            <ul class="tabpanel__list trailer">
                                <li class="tabpanel__tab is-active">
                                    <a href="#nogo" class="tabpanel__link">Om Samsung Galaxy S6Edge+</a>
                                </li>
                                <li class="tabpanel__tab">
                                    <a href="#nogo" class="tabpanel__link">Tekniske specifikationer</a>
                                </li>
                                <li class="tabpanel__tab">
                                    <a href="#nogo" class="tabpanel__link">Fortrydelse</a>
                                </li>
                                <li class="tabpanel__tab">
                                    <a href="#nogo" class="tabpanel__link">Levering</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- Few items-end-->
                </div>
            </div>
            <!-- document code-->
            <div>
                源码区域.......
            </div>
        </div>
    </div>
    <!-- flats tab--end-->
<div id="pager" class="doc-compontent-box">
    <!-- checkbox-component-start-->
    <div class="sg-component">
        <div class="sg-component__header">
            <h2 class="title--medium-small trailer--small">Pager</h2>
        </div>
        <div class="sg-component__status">
            <p class="mobile-one-half mobile-pull-right mobile-text-right">
                    <span class="status-dot status-dot--green pull-right">Approved <a href="">(0.7.0)</a>
                    </span>
            </p>
        </div>
        <div class="sg-component__markup">
            <div class="block">
                <div class="sg-component__label">Default pager</div>
                <!-- default pager-->
                <div class="pager pager--default" data-component="pager" data-alias="pagination"
                     style="display: inline-block;"><a class="pager__button previous" data-selector="page-previous">previous</a>
                    <span data-selector="pages"><a class="pager__button" data-selector="page-button" data-page-number="1">1</a>
                    <a class="pager__button" data-selector="page-button" data-page-number="2">2</a>
                    <a class="pager__button" data-selector="page-button" data-page-number="3">3</a>
                    <a class="pager__button current" data-selector="page-button" data-page-number="4">4</a>
                    <a class="pager__button" data-selector="page-button" data-page-number="5">5</a>
                    <span class="pager__elipsis">…</span>
                    <a class="pager__button" data-selector="page-button" data-page-number="24">24</a>
                    </span>
                    <a class="pager__button next" data-selector="page-next">next</a>
                </div>
                <!--pager-end-->
            </div>
        </div>
        <!-- document code-->
        <div>
            源码区域.......
        </div>
    </div>
</div>
    <div id="subscription-dropdown" class="doc-compontent-box">
        <!-- checkbox-component-start-->
        <div class="sg-component">
            <div class="sg-component__header">
                <h2 class="title--medium-small trailer--small">Subscription dropdown</h2>
            </div>
            <div class="sg-component__status">
                <p class="mobile-one-half mobile-pull-right mobile-text-right">
                    <span class="status-dot status-dot--green pull-right">Approved <a href="">(0.7.0)</a>
                    </span>
                </p>
            </div>
            <div class="sg-component__markup">
                <div class="block">
                    <div class="sg-component__label">Subscription dropdown</div>
                    <div class="col-md-4">
                        <!-- Subscription dropdown--->
                        <div class="dropdown dropdown--subscriptions">
                            <div class="dropdown__label ">
                                <div class="text-truncate">All items (3)</div>
                                <span class="icon-arrow-down"></span>
                            </div>
                            <div class="dropdown__content">
                                <div class="dropdown__filter">
                                    <form action="">
                                        <input name="" type="hidden" value="">
                                        <div class="is-empty">
                                            <input class="dropdown__search" id="" name="" placeholder="Search" type="text" value="">
                                            <button class="icon-clear"></button>
                                        </div>
                                    </form>
                                </div>
                                <div class="dropdown__scroll">
                                    <!--loading-->
                                    <div class="js-hidden padding-leader--small padding-trailer--small">
                                    <span class="load-tester">
                                        <span class="spinner"></span>
                                    </span>
                                    </div>
                                    <!--loading-end-->
                                    <!-- message error-->
                                    <div class="message message--error is-hidden">
                                        <div class="message__inner">
                                            <span class="message__icon icon icon-reject"></span>
                                            <div class="text-size--13 message__text">
                                                <p>An error happened. Please try again later.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- message error-end-->
                                    <ul class="dropdown__list">
                                        <li>
                                            <a class="media media--small" href="#nogo">
                                                <div class="media__image leader--xsmall">
                                                    <span class="icon-person"></span>
                                                </div>
                                                <div class="media__body">
                                                    <div class="text-truncate">Jannik Mørch Søndergaard</div>
                                                    <div class="text-truncate color-gray">Jannik Mørch Søndergaard (32108000158128)</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="media media--small" href="#nogo">
                                                <div class="media__image leader--xsmall">
                                                    <span class="icon-person"></span>
                                                </div>
                                                <div class="media__body">
                                                    <div class="text-truncate">Jannik Mørch Søndergaard</div>
                                                    <div class="text-truncate color-gray"> (32109100774201)</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="media media--small" href="#nogo">
                                                <div class="media__image leader--xsmall">
                                                    <span class="icon-coins"></span>
                                                </div>
                                                <div class="media__body">
                                                    <div class="text-truncate">Jannik Mørch Søndergaard</div>
                                                    <div class="text-truncate color-gray"> (32100100774202)</div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--Subscription dropdown-end-->
                    </div>
                    <div class="sg-component__label">select dropdown</div>
                    <div class="col-md-4">
                        <!-- select dropdown--->
                        <div class="dropdown select--dropdown stretch-mobile">
                            <div class="dropdown__label ">
                                <div class="text-truncate">Anbefalet abonnement</div>
                                <span class="icon-arrow-down"></span>
                            </div>
                            <div class="dropdown__content">
                                <div class="dropdown__scroll">
                                    <!--loading-->
                                    <div class="js-hidden padding-leader--small padding-trailer--small">
                                    <span class="load-tester">
                                        <span class="spinner"></span>
                                    </span>
                                    </div>
                                    <!--loading-end-->
                                    <!-- message error-->
                                    <div class="message message--error is-hidden">
                                        <div class="message__inner">
                                            <span class="message__icon icon icon-reject"></span>
                                            <div class="text-size--13 message__text">
                                                <p>An error happened. Please try again later.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- message error-end-->
                                    <ul class="dropdown__list">
                                        <li>
                                            <a class="media media--small" href="#nogo">
                                                <div class="media__body">
                                                    <div class="text-truncate">Anbefalet abonnement</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="media media--small" href="#nogo">
                                                <div class="media__body">
                                                    <div class="text-truncate">FRI+ 40 GB (249,-)</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="media media--small" href="#nogo">
                                                <div class="media__body">
                                                    <div class="text-truncate">Fri+ 10 GB (149,-)</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="media media--small" href="#nogo">
                                                <div class="media__body">
                                                    <div class="text-truncate">Fri+ 20 GB (199,-)</div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--select dropdown-end-->
                    </div>
                </div>
            </div>
            <!-- document code-->
            <div>
                <pre><code>
                    源码区域。。。。
                </code></pre >
            </div>
        </div>
    </div>
<script>
    $('.tabpanel ul li').click(function(){
        $(this).siblings().removeClass('is-active');
        $(this).addClass('is-active');
    });
    $('.tabpanel ul li.flexnav').click(function(e){
        e.stopPropagation();
        if(!$(this).hasClass('is-open')){
            $(this).addClass('is-open')
        }else{
            $(this).removeClass('is-open')
        }
    });
    $(document).click(function(){
        if($(".tabpanel ul li.flexnav").hasClass("is-open")){
            $(".tabpanel ul li.flexnav").removeClass("is-open");
        }
    });
//   dropdown
    $('.dropdown__label').click(function(e){
        e.stopPropagation();
        if(!$(this).parent().hasClass('is-open')){
            $(this).parent().addClass('is-open')
        }else{
            $(this).parent().removeClass('is-open')
        }
    });
    $('.dropdown__content').click(function(e){
        e.stopPropagation();
    })
    $(document).click(function(){
        if($(".dropdown").hasClass("is-open")){
            $(".dropdown").removeClass("is-open");
        }
    });
</script>