<div class="doc-side-list">
    <ul>
        <li class="current"><a href="#lines-and-fills">Lines and fills</a></li>
        <li><a href="#colours-and-backgrounds">Colours and backgrounds</a></li>
        <li><a href="#fonts">Fonts</a></li>
        <li><a href="#font-sizes">Font sizes</a></li>
        <li><a href="#inline-elements">Inline elements</a></li>
        <li><a href="#unordered-lists">Unordered lists</a></li>
        <li><a href="#ordered-lists">Ordered lists</a></li>
        <li><a href="#check-list">Check list</a></li>
    </ul>
</div>
<div class="section--block container">
    <!-- Page header -->
    <div class="block__header leader--large trailer--large">
        <h2 class="title--medium">Colours and fonts</h2>
    </div>

    <!-- SG Components -->
    <div id="sgComponentWrapper">
        <div id="lines-and-fills" class="doc-compontent-box sg-content-item mix is-approved" style="display: inline-block;">
            <div class="sg-content omega container">
                <div class="sg-content__header tablet-one-third">
                    <h2 class="title--medium-small">Lines and fills</h2>
                </div>
                <div class="tablet-omega tablet-two-thirds">
                    <div class="sg-component__status mobile-one-whole omega">
                        <p class="mobile-one-half mobile-pull-right mobile-text-right">
                        <span class="status-dot status-dot status-dot--green">Approved <a href="/v/0.7.0/#component-Icons">(0.7.0)</a>
                        </span>
                        </p>
                    </div>
                    <div class="sg-content__markup sg-markdown">
                        <h1>Mauris auctor dictum eleifend. Donec a scelerisque odio. Sed eros libero, pharetra a congue vel, semper eget lectus. Maecenas volutpat enim vel.</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam quis risus lacus. Nunc ullamcorper neque vitae eros luctus mattis. Maecenas lacinia egestas aliquet.</p>
                        <div class="sg-lines-and-fills">
                            <div class="sg-component__label">1 px, #d1d1d1</div>
                            <div class="sg-lines-and-fills__line"></div>
                            <div class="sg-component__label">1 px, #e8e8e8</div>
                            <div class="sg-lines-and-fills__line-light"></div>
                            <div class="sg-component__label">1 px, #ffffff, 30%</div>
                            <div class="sg-lines-and-fills__colors-bg">
                                <div class="box--yellow-light"></div>
                                <div class="box--yellow"></div>
                                <div class="box--purple"></div>
                                <div class="box--green"></div>
                                <div class="box--blue"></div>
                            </div>
                            <div class="sg-lines-and-fills__line-negative"></div>
                            <div class="sg-component__label">1 px, #e8e8e8, #ffffff</div>
                            <div class="box--default box--white"></div>
                            <div class="sg-component__label">1 px, #e8e8e8, #f5f5f5</div>
                            <div class="box--default box--greyed"></div>
                            <div class="sg-component__label">1 px, #d1d1d1, #ffffff</div>
                            <div class="box--default-dark-border box--white"></div>
                            <div class="sg-component__label">1 px, #d1d1d1, #ffffff</div>
                            <div class="box--default-dark-border"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="colours-and-backgrounds" class="doc-compontent-box sg-content-item mix is-approved" style="display: inline-block;">
            <div class="sg-content omega container">
                <div class="sg-content__header tablet-one-third">
                    <h2 class="title--medium-small">Colours and backgrounds</h2>
                </div>
                <div class="tablet-omega tablet-two-thirds">
                    <div class="sg-component__status mobile-one-whole omega">
                        <p class="mobile-one-half mobile-pull-right mobile-text-right">
                        <span class="status-dot status-dot status-dot--green">Approved <a href="/v/0.7.0/#component-Icons">(0.7.0)</a>
                        </span>
                        </p>
                    </div>
                    <div class="sg-content__markup sg-markdown">
                        <p>The colours you can choose from. The Telenor colour palette is limited to the given colours. The colour gradients in conjunction with our secondary colours add warmth and excitement to our visual identity. These help differentiate
                            our brand in markets.</p>
                        <h2 id="primary-colour">Primary colour</h2>
                        <figure>
                            <div class="sg-color__variant sg-color--neg" data-color="telenor-blue">Telenor blue
                                <br>
                            </div>
                        </figure>
                        <h2 id="secondary-colour">Secondary colour</h2>
                        <figure>
                            <div class="sg-color__variant sg-color--neg" data-color="telenor-green">Telenor green
                                <br>
                            </div>
                            <div class="sg-color__variant sg-color--neg" data-color="telenor-red">Telenor red
                                <br>
                            </div>
                            <div class="sg-color__variant sg-color--neg" data-color="telenor-yellow">Telenor yellow
                                <br>
                            </div>
                            <div class="sg-color__variant sg-color--neg" data-color="telenor-purple">Telenor purple
                                <br>
                            </div>
                        </figure>
                        <h2 id="grey-scale-colour">Grey scale colour</h2>
                        <figure>
                            <div class="sg-color__variant" data-color="telenor-white-grey">Telenor white grey
                                <br>
                            </div>
                            <div class="sg-color__variant" data-color="telenor-grey">Telenor grey
                                <br>
                            </div>
                            <div class="sg-color__variant" data-color="telenor-grey-light">Telenor grey light
                                <br>
                            </div>
                            <div class="sg-color__variant" data-color="telenor-grey-middle">Telenor grey middle
                                <br>
                            </div>
                            <div class="sg-color__variant sg-color--neg" data-color="telenor-grey-dark">Telenor grey dark
                                <br>
                            </div>
                            <div class="sg-color__variant sg-color--neg" data-color="telenor-black-light">Telenor black light
                                <br>
                            </div>
                        </figure>
                        <h2 id="gradients">Gradients</h2>
                        <figure>
                            <div class="sg-color__variant sg-color--neg" data-color="gradient-blueblue">Gradient blue blue
                                <br>
                            </div>
                            <div class="sg-color__variant sg-color--neg" data-color="gradient-greenblue">Gradient gren blue
                                <br>
                            </div>
                            <div class="sg-color__variant sg-color--neg" data-color="gradient-yellowred">Gradient yellow red
                                <br>
                            </div>
                            <div class="sg-color__variant sg-color--neg" data-color="gradient-pinkpurple">Gradient yellow red
                                <br>
                            </div>
                        </figure>
                        <h2 id="background">Background</h2>
                        <figure>
                            <div class="sg-color__variant--background"></div>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <div id="fonts" class="doc-compontent-box sg-component mix is-approved  mobile-one-whole omega" style="display: inline-block;">
            <div class="sg-component__header">
                <h2 class="title--medium-small trailer--small">Fonts</h2>
            </div>
            <div class="sg-component__status mobile-one-whole omega">
                <p class="mobile-one-half mobile-pull-right mobile-text-right">
                    <span class="status-dot status-dot status-dot--green">Approved <a href="/v/0.7.0/#component-Fonts">(0.7.0)</a>
                    </span>
                </p>
            </div>

            <!-- Markup -->
            <div class="sg-component__markup mobile-one-whole omega  ">
                <div class="sg-component__label">Arial regular</div>
                <div class="sg-fonts__example sg-fonts__arial-regular">
                    abcdefghijklmnopqrstuvwxyzæøå
                    <br>ABCDEFGHIJKLMNOPQRSTUVWXYZÆØÅ
                    <br>1234567890!@£$%^&amp;*()_+
                </div>
                <div class="sg-component__label">Arial bold</div>
                <div class="sg-fonts__example sg-fonts__arial-bold">
                    abcdefghijklmnopqrstuvwxyzæøå
                    <br>ABCDEFGHIJKLMNOPQRSTUVWXYZÆØÅ
                    <br>1234567890!@£$%^&amp;*()_+
                </div>
                <div class="sg-component__label">Telenor light</div>
                <div class="sg-fonts__example sg-fonts__telenor-light">
                    abcdefghijklmnopqrstuvwxyzæøå
                    <br>ABCDEFGHIJKLMNOPQRSTUVWXYZÆØÅ
                    <br>1234567890!@£$%^&amp;*()_+
                </div>
                <div class="sg-component__label">Telenor regular</div>
                <div class="sg-fonts__example sg-fonts__telenor-regular">
                    abcdefghijklmnopqrstuvwxyzæøå
                    <br>ABCDEFGHIJKLMNOPQRSTUVWXYZÆØÅ
                    <br>1234567890!@£$%^&amp;*()_+
                </div>
                <div class="sg-component__label">Telenor bold</div>
                <div class="sg-fonts__example sg-fonts__telenor-bold">
                    abcdefghijklmnopqrstuvwxyzæøå
                    <br>ABCDEFGHIJKLMNOPQRSTUVWXYZÆØÅ
                    <br>1234567890!@£$%^&amp;*()_+
                </div>
            </div>
        </div>
        <div id="font-sizes" class="doc-compontent-box sg-component mix is-approved  mobile-one-whole omega" style="display: inline-block;">
            <div class="sg-component__header">
                <h2 class="title--medium-small trailer--small">Font sizes</h2>
            </div>
            <div class="sg-component__status mobile-one-whole omega">
                <p class="mobile-one-half mobile-pull-right mobile-text-right">
                    <span class="status-dot status-dot status-dot--green">Approved <a href="/v/0.7.0/#component-Font-sizes">(0.7.0)</a>
                    </span>
                </p>
            </div>

            <!-- Markup -->
            <div class="sg-component__markup mobile-one-whole omega  ">
                <div class="sg-component__label">Title XXXLarge - Telenor Light, 192px</div>
                <div class="title--xxxlarge">Lorem ipsum dolor</div>
                <div class="sg-component__label">Title Huge - Telenor Light, 84px</div>
                <div class="title--huge">Lorem ipsum dolor</div>
                <div class="sg-component__label">Title XXLarge - Telenor Light, 72px</div>
                <div class="title--xxlarge">Lorem ipsum dolor</div>
                <div class="sg-component__label">Title XLarge - Telenor Light, 54px</div>
                <div class="title--xlarge">Lorem ipsum dolor</div>
                <div class="sg-component__label">Title Large - Telenor Light, 44px</div>
                <div class="title--large">Lorem ipsum dolor</div>
                <div class="sg-component__label">Title Medium - Telenor Light, 36px</div>
                <div class="title--medium">Lorem ipsum dolor</div>
                <div class="sg-component__label">Title Medium/Small - Telenor Light, 30px</div>
                <div class="title--medium-small">Lorem ipsum dolor</div>
                <div class="sg-component__label">Title Small - Telenor Regular, 21px</div>
                <div class="title--small">Lorem ipsum dolor</div>
                <div class="sg-component__label">Title XSmall - Telenor Regular, 19px</div>
                <div class="title--xsmall">Lorem ipsum dolor</div>
                <div class="sg-component__label">Title XXSmall - Telenor Regular, 16px</div>
                <div class="title--xxsmall">Lorem ipsum dolor</div>
                <div class="sg-component__label">Text Small - Arial, 13px</div>
                <div class="text--small">Lorem ipsum dolor</div>
                <div class="sg-component__label">Text XSmall - Arial, 11px</div>
                <div class="text--xsmall">Lorem ipsum dolor</div>
            </div>
        </div>
        <div id="inline-elements" class="doc-compontent-box sg-component mix is-approved  mobile-one-whole omega" style="display: inline-block;">
            <div class="sg-component__header">
                <h2 class="title--medium-small trailer--small">Inline elements</h2>
            </div>
            <div class="sg-component__status mobile-one-whole omega">
                <p class="mobile-one-half mobile-pull-right mobile-text-right">
                    <span class="status-dot status-dot status-dot--green">Approved <a href="/v/0.7.0/#component-Inline-elements">(0.7.0)</a></span>
                </p>
            </div>

            <!-- Markup -->
            <div class="sg-component__markup mobile-one-whole omega  ">
                <div class="text--content">
                    <div class="sg-component__label">Link</div>
                    <p>Lorem ipsum <a href="">dolor sit amet</a>, consectetur adipiscing elit.</p>
                    <div class="sg-component__label">Active link</div>
                    <p>Lorem ipsum <a class="active" href="">dolor sit amet</a>, consectetur adipiscing elit.</p>
                    <div class="sg-component__label">Bold text</div>
                    <p>Lorem ipsum
                        <strong>dolor sit amet</strong>, consectetur adipiscing elit.</p>
                    <div class="sg-component__label">Emphasis text</div>
                    <p>Lorem ipsum
                        <em>dolor sit amet</em>, consectetur adipiscing elit.</p>
                    <div class="sg-component__label">Italic text</div>
                    <p>Lorem ipsum
                        <i>dolor sit amet</i>, consectetur adipiscing elit.</p>
                    <div class="sg-component__label">Underline text</div>
                    <p>Lorem ipsum
                        <u>dolor sit amet</u>, consectetur adipiscing elit.</p>
                    <div class="sg-component__label">Deleted text</div>
                    <p>Lorem ipsum
                        <del>dolor sit amet</del>, consectetur adipiscing elit.</p>
                    <div class="sg-component__label">Inserted text</div>
                    <p>Lorem ipsum
                        <ins>dolor sit amet</ins>, consectetur adipiscing elit.</p>
                    <div class="sg-component__label">Strikethrough text</div>
                    <p>Lorem ipsum
                        <s>dolor sit amet</s>, consectetur adipiscing elit.</p>
                    <div class="sg-component__label">Super text</div>
                    <p>Lorem ipsum
                        <sup>dolor sit amet</sup>, consectetur adipiscing elit.</p>
                    <div class="sg-component__label">Sub text</div>
                    <p>Lorem ipsum
                        <sub>dolor sit amet</sub>, consectetur adipiscing elit.</p>
                    <div class="sg-component__label">Small text</div>
                    <small>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </small>
                    <div class="sg-component__label">HTML markup</div>
                    <p>Lorem ipsum
                        <abbr title="HyperText Markup Language">dolor sit amet</abbr>, consectetur adipiscing elit.</p>
                    <div class="sg-component__label">Command</div>
                    <p>Lorem ipsum
                        <kbd>dolor sit amet</kbd>, consectetur adipiscing elit.</p>
                    <div class="sg-component__label">Short inline quotation</div>
                    <p>Lorem ipsum
                        <q cite="https://developer.mozilla.org/en-US/docs/HTML/Element/q">dolor sit amet</q>, consectetur adipiscing elit.</p>
                    <div class="sg-component__label">Block quote</div>
                    <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus lorem urna, consectetur sodales mauris eu, eleifend dictum massa. Nam cursus nulla eget justo aliquet fringilla.</blockquote>
                    <div class="sg-component__label">Citation text</div>
                    <p>Lorem ipsum
                        <cite>dolor sit amet</cite>, consectetur adipiscing elit.</p>
                    <div class="sg-component__label">Definition text</div>
                    <p>Lorem ipsum
                        <dfn>dolor sit amet</dfn>, consectetur adipiscing elit.</p>
                    <div class="sg-component__label">Highlighted text</div>
                    <p>Lorem ipsum
                        <mark>dolor sit amet</mark>, consectetur adipiscing elit.</p>
                    <div class="sg-component__label">Code</div>
                    <p>Lorem ipsum <code>dolor sit amet</code>, consectetur adipiscing elit.</p>
                    <div class="sg-component__label">Sample output</div>
                    <p>Lorem ipsum
                        <samp>dolor sit amet</samp>, consectetur adipiscing elit.</p>
                    <div class="sg-component__label">Variable element</div>
                    <p>Lorem ipsum
                        <var>dolor sit amet</var>, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
        <div id="unordered-lists" class="doc-compontent-box sg-component mix is-approved  mobile-one-whole omega" style="display: inline-block;">
            <div class="sg-component__header">
                <h2 class="title--medium-small trailer--small">Unordered lists</h2>
            </div>
            <div class="sg-component__status mobile-one-whole omega">
                <p class="mobile-one-half mobile-pull-right mobile-text-right">
                    <span class="status-dot status-dot status-dot--green">Approved <a href="/v/0.7.0/#component-Unordered-lists">(0.7.0)</a>
                    </span>
                </p>
            </div>

            <!-- Markup -->
            <div class="sg-component__markup mobile-one-whole omega sg-component__markup--no-padding ">
                <div class="block">
                    <div class="container">
                        <div class="tablet-one-quarter">
                            <div class="sg-component__label">Default</div>
                            <ul class="list--default">
                                <li>item 1</li>
                                <li>item 2</li>
                                <li>item 3</li>
                            </ul>
                        </div>
                        <div class="tablet-one-quarter">
                            <div class="sg-component__label">Small</div>
                            <ul class="list--default list--small">
                                <li>List header</li>
                                <li>List item 1</li>
                                <li>List item 2</li>
                                <li>List item 3</li>
                            </ul>
                        </div>
                        <div class="tablet-one-quarter">
                            <div class="sg-component__label">Nested</div>
                            <ul class="list--default">
                                <li>List item 1</li>
                                <li>List item 2
                                    <ul>
                                        <li>List item 1</li>
                                        <li>List item 2</li>
                                    </ul>
                                </li>
                                <li>List item 3</li>
                            </ul>
                        </div>
                        <div class="tablet-one-quarter">
                            <div class="sg-component__label">Small nested</div>
                            <ul class="list--default list--small">
                                <li>List item 1</li>
                                <li>List item 2
                                    <ul>
                                        <li>List item 1</li>
                                        <li>List item 2</li>
                                    </ul>
                                </li>
                                <li>List item 3</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="container box--blue section--negative box--expand-above-border">
                    <div class="tablet-one-quarter">
                        <div class="sg-component__label">Default</div>
                        <ul class="list--default list--negative">
                            <li>List item 1</li>
                            <li>List item 2</li>
                            <li>List item 3</li>
                            <li>List item 4</li>
                        </ul>
                    </div>
                    <div class="tablet-one-quarter">
                        <div class="sg-component__label">Small</div>
                        <ul class="list--default list--negative list--small">
                            <li>List header</li>
                            <li>List item 1</li>
                            <li>List item 2</li>
                            <li>List item 3</li>
                        </ul>
                    </div>
                    <div class="tablet-one-quarter">
                        <div class="sg-component__label">Nested</div>
                        <ul class="list--default list--negative">
                            <li>List item 1</li>
                            <li>List item 2
                                <ul>
                                    <li>List item 1</li>
                                    <li>List item 2</li>
                                </ul>
                            </li>
                            <li>List item 3</li>
                        </ul>
                    </div>
                    <div class="tablet-one-quarter">
                        <div class="sg-component__label">Small nested</div>
                        <ul class="list--default list--negative list--small">
                            <li>List item 1</li>
                            <li>List item 2
                                <ul>
                                    <li>List item 1</li>
                                    <li>List item 2</li>
                                </ul>
                            </li>
                            <li>List item 3</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="ordered-lists" class="doc-compontent-box sg-component mix is-approved  mobile-one-whole omega" style="display: inline-block;">
            <div class="sg-component__header">
                <h2 class="title--medium-small trailer--small">Ordered lists</h2>
            </div>
            <div class="sg-component__status mobile-one-whole omega">
                <p class="mobile-one-half mobile-pull-right mobile-text-right">
                    <span class="status-dot status-dot status-dot--green">Approved <a href="/v/0.7.0/#component-Ordered-lists">(0.7.0)</a>
                    </span>
                </p>
            </div>

            <!-- Markup -->
            <div class="sg-component__markup mobile-one-whole omega sg-component__markup--no-padding ">
                <div class="block">
                    <div class="container">
                        <div class="tablet-one-quarter">
                            <div class="sg-component__label">Default</div>
                            <ol>
                                <li>List item 1</li>
                                <li>List item 2</li>
                                <li>List item 3</li>
                                <li>List item 4</li>
                            </ol>
                        </div>
                        <div class="tablet-one-quarter">
                            <div class="sg-component__label">Small</div>
                            <ol class="list--small">
                                <li>List header</li>
                                <li>List item 1</li>
                                <li>List item 2</li>
                                <li>List item 3</li>
                            </ol>
                        </div>
                        <div class="tablet-one-quarter">
                            <div class="sg-component__label">Nested</div>
                            <ol>
                                <li>List item 1</li>
                                <li>List item 2
                                    <ol>
                                        <li>List item 1</li>
                                        <li>List item 2</li>
                                    </ol>
                                </li>
                                <li>List item 3</li>
                            </ol>
                        </div>
                        <div class="tablet-one-quarter">
                            <div class="sg-component__label">Small nested</div>
                            <ol class="list--small">
                                <li>List item 1</li>
                                <li>List item 2
                                    <ol>
                                        <li>List item 1</li>
                                        <li>List item 2</li>
                                    </ol>
                                </li>
                                <li>List item 3</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="container box--blue section--negative box--expand-above-border">
                    <div class="tablet-one-quarter">
                        <div class="sg-component__label">Default</div>
                        <ol class="list--negative">
                            <li>List item 1</li>
                            <li>List item 2</li>
                            <li>List item 3</li>
                            <li>List item 4</li>
                        </ol>
                    </div>
                    <div class="tablet-one-quarter">
                        <div class="sg-component__label">Small</div>
                        <ol class="list--negative list--small">
                            <li>List header</li>
                            <li>List item 1</li>
                            <li>List item 2</li>
                            <li>List item 3</li>
                        </ol>
                    </div>
                    <div class="tablet-one-quarter">
                        <div class="sg-component__label">Nested</div>
                        <ol class="list--negative">
                            <li>List item 1</li>
                            <li>List item 2
                                <ol>
                                    <li>List item 1</li>
                                    <li>List item 2</li>
                                </ol>
                            </li>
                            <li>List item 3</li>
                        </ol>
                    </div>
                    <div class="tablet-one-quarter">
                        <div class="sg-component__label">Small nested</div>
                        <ol class="list--negative list--small">
                            <li>List item 1</li>
                            <li>List item 2
                                <ol>
                                    <li>List item 1</li>
                                    <li>List item 2</li>
                                </ol>
                            </li>
                            <li>List item 3</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div id="check-list" class="doc-compontent-box sg-component mix is-approved  mobile-one-whole omega" style="display: inline-block;">
            <div class="sg-component__header">
                <h2 class="title--medium-small trailer--small">Check list</h2>
            </div>
            <div class="sg-component__status mobile-one-whole omega">
                <p class="mobile-one-half mobile-pull-right mobile-text-right">
                    <span class="status-dot status-dot status-dot--green">Approved <a href="/v/0.7.0/#component-Check-list">(0.7.0)</a>
                    </span>
                </p>
            </div>

            <!-- Markup -->
            <div class="sg-component__markup mobile-one-whole omega sg-component__markup--no-padding ">
                <div class="block">
                    <div class="container">
                        <div class="tablet-one-quarter">
                            <div class="sg-component__label">Default</div>
                            <ul class="list--check">
                                <li>List item 1</li>
                                <li>List item 2</li>
                                <li>List item 3</li>
                                <li>List item 4</li>
                            </ul>
                        </div>
                        <div class="tablet-one-quarter">
                            <div class="sg-component__label">Default small</div>
                            <ul class="list--check list--small">
                                <li>List item 1</li>
                                <li>List item 2</li>
                                <li>List item 3</li>
                                <li>List item 4</li>
                            </ul>
                        </div>
                        <div class="tablet-one-quarter">
                            <div class="sg-component__label">Dark</div>
                            <ul class="list--check--dark">
                                <li>List item 1</li>
                                <li>List item 2</li>
                                <li>List item 3</li>
                                <li>List item 4</li>
                            </ul>
                        </div>
                        <div class="tablet-one-quarter">
                            <div class="sg-component__label">Dark small</div>
                            <ul class="list--check--dark list--small">
                                <li>List item 1</li>
                                <li>List item 2</li>
                                <li>List item 3</li>
                                <li>List item 4</li>
                            </ul>
                        </div>
                    </div>
                    <div class="container">
                        <div class="tablet-one-quarter">
                            <div class="sg-component__label">Grey</div>
                            <ul class="list--check--grey">
                                <li>List item 1</li>
                                <li>List item 2</li>
                                <li>List item 3</li>
                                <li>List item 4</li>
                            </ul>
                        </div>
                        <div class="tablet-one-quarter">
                            <div class="sg-component__label">Grey small</div>
                            <ul class="list--check--grey list--small">
                                <li>List item 1</li>
                                <li>List item 2</li>
                                <li>List item 3</li>
                                <li>List item 4</li>
                            </ul>
                        </div>
                        <div class="tablet-one-quarter">
                            <div class="sg-component__label">Grey dark</div>
                            <ul class="list--check--grey-dark">
                                <li>List item 1</li>
                                <li>List item 2</li>
                                <li>List item 3</li>
                                <li>List item 4</li>
                            </ul>
                        </div>
                        <div class="tablet-one-quarter">
                            <div class="sg-component__label">Grey dark small</div>
                            <ul class="list--check--grey-dark list--small">
                                <li>List item 1</li>
                                <li>List item 2</li>
                                <li>List item 3</li>
                                <li>List item 4</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="container box--blue section--negative box--expand-above-border">
                    <div class="tablet-one-quarter">
                        <div class="sg-component__label">Default</div>
                        <ul class="list--check list--negative">
                            <li>List item 1</li>
                            <li>List item 2</li>
                            <li>List item 3</li>
                            <li>List item 4</li>
                        </ul>
                    </div>
                    <div class="tablet-one-quarter">
                        <div class="sg-component__label">Default small</div>
                        <ul class="list--check list--small list--negative">
                            <li>List item 1</li>
                            <li>List item 2</li>
                            <li>List item 3</li>
                            <li>List item 4</li>
                        </ul>
                    </div>
                    <div class="tablet-one-quarter">
                        <div class="sg-component__label">White</div>
                        <ul class="list--check--white">
                            <li>List item 1</li>
                            <li>List item 2</li>
                            <li>List item 3</li>
                            <li>List item 4</li>
                        </ul>
                    </div>
                    <div class="tablet-one-quarter">
                        <div class="sg-component__label">White small</div>
                        <ul class="list--check--white list--small">
                            <li>List item 1</li>
                            <li>List item 2</li>
                            <li>List item 3</li>
                            <li>List item 4</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



